<!-- header -->
<header [ngClass]="theme.themeColor">

    <!-- top-->
    
    <!-- top-->
    <!-- middle bar -->
    <div class="container-fluid middlenavbar">
        <div class="row relative">
            <div class="col-md-2 col-xl-1">
                <a class="navbar-brand" [routerLink]="['/']"> <img src="assets/img/logo.png" alt="rfarmx"> </a>
            </div>
            <div class="col-md-7 col-xl-9 pr-0 pl40">
                <form action="#" class="ng-untouched ng-pristine ng-valid" method="get">
                                <div class="flex">
                                    <input class="form-control" name="search" (keyup)="search($event)" [(ngModel)]="searchTerm" placeholder="Search" type="text">
                                    <span class="input-group-btn">
                                    <button class="btn btn-flat" id="search-btn" (click)="search($event, 'button')" name="search" type="submit"><i class="fa fa-search"></i> </button>
                                    </span>
                                </div>
                            </form>
            </div>
            <div class="col-md-3 col-xl-2 last">
                <ul class="row float-right">
                    <li *ngIf="!isLoggedIn" class="nav-item">
                        <a class="btn btn-border-warning custombtn"><i class="fa fa-mobile"></i> | {{language.getLabel('Download App')}}</a>
                    </li>
                    <li *ngIf="isLoggedIn" class="nav-item dropdown btn-group"> <a class="nav-link dropdown-toggle pr20" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ (userData?.fullName) ? userData?.fullName: userData?.username}}">{{language.getLabel('hello')}} {{ (userData?.fullName) ? (userData?.fullName | truncate : 13 : "…"): (userData?.username | truncate : 13 : "…")}}</a>
                        <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" [routerLink]="['/crops/mycrops']">{{language.getLabel('my_dashboard')}}</a>
                            <a class="dropdown-item">{{language.getLabel('profile')}}</a>
                            <a class="dropdown-item" (click)="logout()">{{language.getLabel('logout')}}</a>
                        </div>
                    </li>
                    <!-- <li *ngIf="isLoggedIn" class="nav-item mt-2 relative">
                       <a [routerLink]="['/cart']"> <i class="icon-basket icons"></i>
                        <span class="badge badge-danger">2</span>
						</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- middle bar -->

    <!-- main navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark blue " [ngClass]="theme.mainNavbar">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bottomnav" aria-controls="bottomnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand none" href="javascript:void(0);">
                <strong>Menu</strong>
            </a>
            <div class="collapse navbar-collapse" id="bottomnav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item single-item">
                        <a class="nav-link" [routerLink]="['/']"> <span><i class="fa fa-home" aria-hidden="true"></i></span> {{language.getLabel('Home')}}</a>
                    </li>
                    <li class="nav-item single-item">
                        <a class="nav-link" [routerLink]="['/aboutus']"> <span><i class="fa fa-info-circle" aria-hidden="true"></i></span> {{language.getLabel('About us')}}</a>
                    </li>
                    <li class="nav-item single-item">
                        <a class="nav-link" [routerLink]="['/trainors']"> <span><i class="fa fa-user" aria-hidden="true"></i></span> {{language.getLabel('Trainors')}}</a>
                    </li>
                    <li class="nav-item single-item">
                        <a class="nav-link" [routerLink]="['/category']"> <span><i class="fa fa-retweet" aria-hidden="true"></i></span> {{language.getLabel('Category')}}</a>
                    </li>
                    <li class="nav-item dropdown btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span><i class="fa fa-sign-in" aria-hidden="true"></i></span> {{language.getLabel('account')}}</a>
                        <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" [routerLink]="['/login']">login</a>
                            <a class="dropdown-item" [routerLink]="['/register']">registeration</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link not-allowed-custom"> <span><i class="fa fa-phone"></i></span>{{language.getLabel('call_us')}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- main navbar-->

</header>
<!-- header-->

<router-outlet></router-outlet>

<!--Footer-->
<footer class="page-footer center-on-small-only" [ngClass]="theme.themeColor">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--first column-->
            <div class="col-md-4">
                <h5 class="title">{{language.getLabel('help')}}</h5>
                <ul>
                    <li><a href="javascript:void(0);">{{language.getLabel('payments')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('saved_cards')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('shipping')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('faq')}}</a></li>
                </ul>
            </div>
            <!--/.first column-->

            <hr class="hidden-md-up">

            <!--second column-->
            <div class="col-md-4">
                <h5 class="title">{{language.getLabel('Fitness24')}}</h5>
                <ul>
                    <li><a href="javascript:void(0);">{{language.getLabel('contact_us')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('about_us')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('career')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('press')}}</a></li>
                </ul>
            </div>
            <!--/.second column-->

            <!--three column-->
            <div class="col-md-4">
                <h5 class="title">{{language.getLabel('policies')}}</h5>
                <ul>
                    <li><a href="javascript:void(0);">{{language.getLabel('terms_of_use')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('security')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('privacy')}}</a></li>
                    <li><a href="javascript:void(0);">{{language.getLabel('infringement')}}</a></li>
                </ul>
            </div>
            <!--/.three column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!--Social buttons-->
                    <div class="social-section">
                        <ul>
                            
                            <li><a href="javascript: void(0)" target="_blank" title="{{language.getLabel('facebook')}}" class="btn-small"><i class="fa fa-facebook"> </i></a></li>
                            <li class="nav navbar-nav nav-flex-icons ml-auto"><a href="javascript: void(0)" target="_blank" title="{{language.getLabel('download_app')}}" class="btn-small"><i class="fa fa-mobile"> </i></a> | Download App</li>
                        </ul>
                    </div>
                    <!--/.Social buttons-->
                </div>
                <div class="col-md-6 text-right"> {{language.getLabel('all_rights_reserved')}} | © 2017 Fitness24.com
                    <a href="javascript:void(0);"> </a>
                </div>
            </div>
        </div>
        <!--/.Copyright-->
    </div>

    <!-- live chat
  <div class="live-chat"> <a href="javascript:void(0);"><img src="assets/img/live-chat.png" alt="live chat"></a> </div>
  <!-- live chat-->

</footer>
<!--/.Footer-->