<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'register'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->

<main class="login">
  <div class="container-fluid"> 
    
    <!-- loginbox-->
    <div class="registerbox my-2"> 
      <!--Form without header-->
      
      <div class="text-center">
        <h2>Stay Fit And Healthy</h2>
        <p>Already have an account ?<a [routerLink]="['/login']">Login here</a></p>
      </div>
      <div class="card"> 
        
       <form role="form" #loginForm="ngForm" (ngSubmit)="register()">
          <div class="card-block">
            <div class="error-block text-center">
              <div class="alert alert-danger" *ngIf="errorMessage"> {{errorMessage}} </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form has-required"> 
                  <label for="username">Username</label>
                  <i class="fa fa-user prefix"></i>
                  <input type="text" id="username" name="username" class="form-control" #username="ngModel" [(ngModel)]="user.username" onPaste="return false" onDrag="return false" onDrop="return false" required>
                  <div class="error-block"> <small *ngIf="username.errors?.required && username.touched" class="text-danger"> Username is required </small> </div>
                </div>
              </div>
               <div class="col-md-6">
                <div class="md-form has-required">
                  <label for="email">Email</label>
                  <i class="fa fa-envelope prefix"></i>
                  <input type="email" name="uEmail" id="uEmail" #uEmail="ngModel" [(ngModel)]="user.email" class="form-control" (keydown.space)="$event.preventDefault()" onPaste="return false" onDrag="return false" onDrop="return false" email required />
                  <div class="error-block"> <small *ngIf="uEmail.errors?.required && uEmail.touched" class="text-danger">Email is required </small> <small *ngIf="uEmail.errors?.email && uEmail.touched" class="text-danger"> Email is not valid </small> </div>
                </div>
              </div>
            </div>
             <div class="row">              
              <div class="col-md-6">
                <div class="md-form has-required"> 
                  <label for="password">Password</label>
                  <i class="fa fa-lock prefix"></i>
                  <input type="password" id="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" minlength="8" required>
                  <div class="error-block"> <small *ngIf="password.errors?.required && password.touched" class="text-danger"> Password is required </small> <small *ngIf="password.errors?.minlength && password.touched" class="text-danger">Password should be 8 characters </small> </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form has-required">
                  <label for="confirmPassword">Confirm password</label>
                  <i class="fa fa-lock prefix"></i>
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required [equalTo]="password" />
                  <div class="error-block"> <small *ngIf="confirmPassword.errors?.required && confirmPassword.touched" class="text-danger"> Confirm password is required </small> <small *ngIf="(confirmPassword.errors?.equalTo && confirmPassword.touched)" class="text-danger">Password mismatch</small> </div>
                </div>
              </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="md-form has-required">
                      <i class="icon-state prefix"></i>
                      <select [(ngModel)]="user.state" name="state" (change)="setDistrict();user.district='';" #state="ngModel" placeholder="" required>
                          <option value="" selected>Select state</option>
                          <option *ngFor="let state of states" [value]="state.stateName">{{state.stateName}}</option>
                      </select>
                      <div class="error-block">
                          <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                Please fill state
                          </small>
                      </div>

                  </div>
              </div>

              <div class="col-md-6">
                  <div class="md-form has-required">
                      <i class="fa fa-map-marker prefix"></i>
                      <select name="district" [(ngModel)]="user.district" [disabled]="!user.state" #district="ngModel" required>
                          <option value="" selected>Select district</option>
                          <option *ngFor="let district of districts" [value]="district.districtName">{{district.districtName}}</option>
                      </select>
                      <div class="error-block">
                          <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                  Please fill district
                          </small>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form has-required"> 
                  <label for="phone">Mobile</label>
                  <i class="fa fa-phone prefix"></i>
                  <input type="text" id="phone" name="phone" class="form-control" #phone="ngModel" [(ngModel)]="user.phone" required="" minlength="10" maxlength="10" pattern="[0-9 ]*" required (keydown.space)="$event.preventDefault()" onPaste="return false" onDrag="return false" onDrop="return false">
                  <div class="error-block"> <small *ngIf="phone.errors?.required && phone.touched" class="text-danger">Mobile number is required</small> <small *ngIf="(phone.errors?.pattern || phone.errors?.minlength) && phone.touched" class="text-danger">Enter valid mobile number</small> </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form"> 
                  <label for="offer">Address</label>
                  <i class="icon-address prefix"></i>
                  <input name="address" [(ngModel)]="user.address" #address="ngModel" type="text" id="offer" class="form-control">
                  <div class="error-block"> <small *ngIf="address.errors?.required && address.touched" class="text-danger">Please fill address </small> </div>
                </div>
              </div>
            </div>
           
            <div class="row">
              
              <div class="col-md-6">
                <div class="md-form">
                  <label for="city">City</label>
                  <i class="icon-city prefix"></i>
                  <input type="text" id="city" name="city" class="form-control" #city="ngModel" [(ngModel)]="user.city">
                  <div class="error-block"> <small *ngIf="city.errors?.required && city.touched" class="text-danger"> City is required </small> </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <label for="pincode">Pincode</label>
                  <i class="icon-pincode prefix"></i>
                  <input type="number" id="pincode" name="pincode" class="form-control" #pincode="ngModel" [(ngModel)]="user.pincode" max="666666" min="1">
                  <div class="error-block">

                  <small *ngIf="pincode.errors?.max && pincode.touched" class="text-danger"> Maximum 6 digit allow</small> </div>
                </div>
              </div>
            </div>
            
           
            
            <!--   <div class="text-center">
                            <img class="capactha" src="assets/img/captcha.jpg" alt="capatcha">
                        </div>
 -->
            
            <div class="text-center">
              <button class="btn btn-success signin col-md-5" [disabled]="!loginForm.valid">Register</button>
            </div>
          </div>
        </form>
      </div>
      <!--/Form without header--> 
      
    </div>
    <!-- loginbox--> 
  </div>
  <!-- <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog mt-12" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">terms_and_conditions</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body">
          <p>i_accept_terms</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success orange" (click)="largeModal.hide()">close</button>
        </div>
      </div>
      
    </div>
    
  </div> -->
 
  
</main>
<!--/Main layout-->