<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="'greencolor'" [page]="'my_bids'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main>
    <div class="container-fluid">
        <!-- row -->
        <div class="row my-2">

            <!-- col-lg-3 -->
            <div class="col-lg-3 col-sm-12 col-12 col-md-4">
                <mysidebar></mysidebar>
            </div>
            <!-- col-lg-3 -->

            <!-- col-lg-9-->
            <div class="col-lg-9 col-sm-12 col-12 col-md-8">

                <h1 class="res-view">{{language.getLabel('my_bids')}}</h1>

                <div class="row">
                    <div class="col-md-12 col-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#active" role="tab">{{language.getLabel('active')}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#expired" role="tab">{{language.getLabel('expired')}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .row -->



                <div class="card crop-listing bids-listing pb-70">

                    <!-- Tab panels -->
                    <div class="tab-content">

                        <!-- tab active -->
                        <div class="tab-pane active" id="active" role="tabpanel">
                            <p class="nodisplay" *ngIf="myBids.length == 0">{{language.getLabel('no_bids_to_display')}}</p>
                            <!-- 1-->
                            <div class="row border-bottom" *ngFor="let bid of myBids">
                                <div class="col-md-3 col-sm-3 col-lg-2" *ngIf="bid?.crop">
                                    <div class="imageblock" [routerLink]="['/crops/detail/'+bid.crop.id]">
                                        <a [routerLink]="['/crops/detail/'+bid.crop.id]" href="javascript:void(0)"><img *ngIf="bid?.crop?.images?.length > 1" class="card-img-top img-fluid" src="{{_host}}/images/crops/{{bid?.crop?.images[0]}}" alt=""></a>
                                        <a [routerLink]="['/crops/detail/'+bid.crop.id]" href="javascript:void(0)"><img *ngIf="bid?.crop?.images?.length == 1" class="card-img-top img-fluid" src="{{_host}}/images/crops/{{bid?.crop?.images}}" alt=""></a>
                                        <a [routerLink]="['/crops/detail/'+bid.crop.id]" href="javascript:void(0)"><img *ngIf="(!bid?.crop?.images || bid?.crop?.images?.length == '0')" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt=""></a>
                                    </div>

                                    <!-- <button class="btn btn-success orange ml-0 mr-0 fontsize15" *ngIf="bid.status == 'Rejected' || bid.status == 'Pending'" (click)="withdrawBid( bid.id)">{{language.getLabel('withdraw_bid')}}</button>
 -->
                                </div>
                                
                                <div class="col-md-9 col-sm-9 col-lg-10" *ngIf="bid?.crop">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-lg-8">
											<h2 class="fontweight500">Bid ID: #{{bid?.crop?.code}}</h2>
                                            <h3><a  [routerLink]="['/crops/detail/'+bid.crop.id]" >{{bid?.crop?.name}}</a></h3>
                                            <p>{{bid?.crop?.description | truncate : 120 : "…"}}</p>
                                            <p *ngIf="bid.status == 'Rejected'" class="text-danger">
                                                    <strong>{{language.getLabel('rejection_reason')}}: </strong> {{language.getLabel(bid?.reason)}}
										    </p>
										    <p class="text-danger" *ngIf="bid.status == 'Rejected' && bid.comment !== ''">
                                                {{language.getLabel(bid?.comment)}}
										    </p>
										    
   
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-lg-4 text-right">
                                            <ul [routerLink]="['/crops/detail/'+bid.crop.id]">
                                                <li>{{language.getLabel('offer_price')}}<strong>{{bid?.crop?.price | currency:'INR':true}}</strong></li>
                                                <li>{{language.getLabel('my_bid')}}<strong>{{bid?.amount | currency:'INR':true}}</strong></li>
                                                <li>{{language.getLabel('ends_on')}} <strong>{{bid?.crop?.endDate ? (bid?.crop?.endDate | date: 'd MMM y'): '-'}}</strong></li>
                                                <li class="text-success">{{language.getLabel('status')}} <strong class="text-success">{{language.getLabel(bid?.status)}}</strong></li>
                                                <!-- <li *ngIf="bid.status == 'Rejected'">{{language.getLabel('reason')}} <strong class="green-text">{{language.getLabel(bid?.reason)}}</strong></li> -->
                                            </ul>
                                            
                                              <!-- fixed floating button --> 
											<div class="fixed-action-btn horizontal relative">
												<a href="javascript:void(0)" class="btn-floating btn-large orange">
												<i class="fa fa-bars"></i>
												</a>

												<ul>
    												<li><a class="btn-floating yellow darken-2" *ngIf="bid.status == 'Rejected' || bid.status == 'Pending'" title="Withdraw Bid" (click)="withdrawBid(bid.id)"><i class="fa fa-cloud-download"></i></a></li>
    												<li><a class="btn-floating green" *ngIf="bid.status == 'Rejected' || bid.status == 'Pending'" [routerLink]="['/crops/detail/'+bid.crop.id]" title="Edit"><i class="fa fa-pencil"></i></a></li>
    												<li><a [routerLink]="['/crops/bidhistory/'+bid.id]"  class="btn-floating blue"  title="History"><i class="medium material-icons">restore</i></a></li>
												</ul>
										   </div>
										  <!-- fixed floating button -->
                                       
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
									<!-- progress bar goes here -->
									<mybid-progressbar *ngIf="bid?.crop" [bidStatus]="bid.status"></mybid-progressbar>      
									<!-- progress bar goes ends here -->
								</div>
                            </div>
                            <!-- 1-->

                        </div>
                        <!-- tab active -->

                        <!-- tab expired-->
                        <div class="tab-pane" id="expired" role="tabpanel">
                            <p class="nodisplay">{{language.getLabel('no_bids_to_display')}}.</p>
                        </div>
                        <!-- tab expired-->

                    </div>
                    <!-- Tab panels -->

                </div>

            </div>
            <!-- col-lg-9-->

        </div>
        <!-- row -->
    </div>
</main>
<!--Main layout-->