<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'Category'"></breadcrumb>

				<!--
				Photo Gallery section star 	  =
		======================================= -->
		<!-- Portfolio Section -->
		
			<div class="row">
				
				<div class="form-group col-sm-3 col-md-4">
					<form>
		  			<label for="sel1">Select list:</label>
				  		<select class="form-control" id="sel1" style="padding-top: 5px;">
				    		<option class="active" (click)="setTab('Yoga')">Yoga</option>
				    		<option (click)="setTab('Accupressure')" >Accupressure</option>
				    		<option (click)="setTab('Accupenture')" >Accupenture</option>
				    		<option (click)="setTab('marmtherapy')" >marmtherapy</option>
				    		<option (click)="setTab('ayurvedtherapy')" >ayurvedtherapy</option>
				    		<option (click)="setTab('physiotherapy')" >physiotherapy</option>
				    		<option (click)="setTab('massagetherapy')" >Massagetherapy</option>
				  		</select>

				  	</form>
				</div>
				
				
				<div class="col-sm-9 col-md-6">
					<form>
   						 <div class="flex">
   						 	
                                    <input class="form-control" name="search"  placeholder="Search" type="text">
                                    <span class="input-group-btn">
                                    <button class="btn btn-flat" id="search-btn"  name="search by location" type="submit"><i class="fa fa-search"></i> </button>
                                    </span>

                                </div>
  					</form>
				</div>
				
				
			</div>
			
			<div class="card">
		<section id="feature-product-Gallery" class="features-product-Gallery">

			<div class="container">
				
					<!-- Nav tabs -->
					<!-- <ul class="nav nav-tabs" role="tablist">
						<li align="center" role="presentation" class="active"><a href="#yoga" aria-controls="yoga" role="tab" data-toggle="tab">Yoga</a></li>
						<li role="presentation" (click)="setTab('Accupressure')"><a href="#Accupressure" aria-controls="Accupressure" role="tab" data-toggle="tab">Accupressure</a></li>
						<li role="presentation" (click)="setTab('Accupenture')"><a href="#Accupenture" aria-controls="Accupenture" role="tab" data-toggle="tab">Accupenture</a></li>
						<li role="presentation" (click)="setTab('marmtherapy')"><a href="#marmtherapy" aria-controls="marmtherapy" role="tab" data-toggle="tab">Marm Therapy</a></li>
						<li role="presentation" (click)="setTab('ayurvedtherapy')"><a href="#ayurvedtherapy" aria-controls="ayurvedtherapy" role="tab" data-toggle="tab">Ayurved Therapy</a></li>
						<li role="presentation" (click)="setTab('physiotherapy')"><a href="#physiotherapy" aria-controls="physiotherapy" role="tab" data-toggle="tab">Physiotherapy</a></li><br/><br/>
						<li role="presentation" (click)="setTab('massagetherapy')"><a href="#massagetherapy" aria-controls="massagetherapy" role="tab" data-toggle="tab">Massage therapy</a></li>
					</ul> -->
				

					<!-- Tab panes -->
					<div class="tab-content">
					
						<div role="tabpanel" class="tab-pane active" id="Yoga">
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery1.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Ladies Toyshilds</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<!-- <span>$60.00</span> -->
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery1.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Ladies Toyshilds</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<!-- <span>$60.00</span> -->
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							
						</div><!-- end tabpanel -->
                     </div>


						<div role="tabpanel" class="tab-pane" id="Accupressure">
							<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery5.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">unctionalized internal </a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery6.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">ergistically repurpose</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery7.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Product ergistical urpose</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery8.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Prlly repurposere</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->
						</div><!-- end tabpanel -->
						</div>


						<div role="tabpanel" class="tab-pane" id="Accupenture">
						<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery1.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Puser friendly interfaces</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery2.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Produser friendly irfacesre</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery3.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Pendly interfaceses Here</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery4.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Pro friener facest Nere</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->
						</div><!-- end tabpanel -->
						</div>


						<div role="tabpanel" class="tab-pane" id="marmtherapy">
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery5.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Produser fnrfaces aere</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery6.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Per friendly intesre</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery7.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">oame Gou fri acesre</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery8.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Prod ame Goere</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->
						</div><!-- end tabpanel -->
						</div>
						<div role="tabpanel" class="tab-pane" id="ayurvedtherapy">
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery5.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Pack1</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery6.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">pack2</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery7.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">pack3</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery8.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Prlly repurposere</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->
						</div><!-- end tabpanel -->
					</div>
						<div role="tabpanel" class="tab-pane" id="physiotherapy">
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery5.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">physiotherapy1</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery6.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">physiotherapy2</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery7.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">physiotherapy3</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery8.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">Prlly repurposere</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->
						</div><!-- end tabpanel -->
						</div>
						<div role="tabpanel" class="tab-pane" id="massagetherapy">
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery5.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">massagetherapy1</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery6.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">massagetherapy2</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery7.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">massagetherapy3</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="f-product-box">
									<div class="box-img">
										<a href="shop-product.html"><img src="assets/images/f-product-gallery8.jpg" alt="Trainers Image"></a>
										<div class="overlay"></div><!-- /.overlay -->
										<div class="social-media">
											<a href="#" class="social-icon"><i class="fa fa-shopping-cart"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-search"></i></a>
											<a href="#" class="social-icon last-border"><i class="fa fa-heart-o"></i></a>
										</div><!-- /.social-media -->
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">massagetherapy4</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span>$ 55.00</span>
												<span>$60.00</span>
											</div><!-- /.product-price -->
											<div class="rating">
												<div class="rating-box">
													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-half-o"></i>
														<i class="fa fa-star-o"></i>
													</span>

													<span class="fa fa-stack">
														<i class="fa fa-star-o"></i>
													</span>
												</div><!-- /.rating-box -->
											</div><!-- /.rating -->
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->
						</div><!-- end tabpanel -->
						</div>
					</div><!-- end tab content -->
				
			</div><!-- end container -->
		</section>
		</div>
