<div class="list-group">
    <!--Sorting: checkbox-->
    <div class="card sort-panel detailuser">

        <!-- 1 -->
        <div class="mydetail">
            <img src="assets/img/profile-placeholder.png" alt="userpic">
            <h3>{{ (userData?.fullName) ? userData?.fullName : '-' }}</h3>
            <address><a>{{ userData?.username }}</a></address>
        </div>

        <ul class="sidelist collapsible" materialize="collapsible" data-collapsible="accordion">

            <li class="no-padding">
                <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                    <li>
                        <a class="collapsible-header"><i class="icon-Shape-13"></i> {{language.getLabel('crops')}}<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#/crops/mycrops"><i class="fa fa-shopping-basket"></i> {{language.getLabel('my_crops')}}</a></li>
                                <li><a href="#/crops/mybids"><i class="fa fa-gavel"></i> {{language.getLabel('my_bids')}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <!-- 
            <li class="no-padding">
                <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                    <li>
                        <a class="collapsible-header"><i class="icon-Shape-18"></i> Inputs<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="javascript:void(0);">My Inputs</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li> -->


            <li class="no-padding">
                <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                    <li>
                        <a class="collapsible-header"><i class="icon-Shape-19"></i> {{language.getLabel('equipments')}}<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#/equipments/myequipments"><i class="icon-Shape-19"></i> {{language.getLabel('my_equipments')}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="no-padding">
                <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                    <li>
                        <a href="javascript:void(0)" class="not-allowed-custom"><i class="icon-Shape-21"></i> {{language.getLabel('lands')}}<i class="material-icons">arrow_drop_down</i></a>
                        <!-- <div class="collapsible-body">
                            <ul>
                                <li><a href="javascript:void(0);">My Lands</a></li>
                            </ul>
                        </div>-->
                    </li>
                </ul>
            </li>
            <li><a class="not-allowed-custom" href="javascript:void(0);"><i class="icon-Shape-22"></i> {{language.getLabel('services')}}</a></li>
            <li><a class="not-allowed-custom" href="javascript:void(0);"><i class="fa fa-list-alt"></i> {{language.getLabel('my')}} {{language.getLabel('orders')}}</a></li>
            <li><a class="not-allowed-custom" href="javascript:void(0);"><i class="fa fa-truck"></i>{{language.getLabel('track_my_order')}}</a></li>
            <li><a class="not-allowed-custom" href="javascript:void(0);"><i class="fa fa-heart"></i>{{language.getLabel('my')}}{{language.getLabel('wishlist')}}</a></li>
            <li><a class="not-allowed-custom" href="javascript:void(0);"><i class="fa fa-bell"></i>{{language.getLabel('notifications')}}</a></li>
            <li><a class="not-allowed-custom" href="javascript:void(0);"><i class="fa fa-gear"></i>{{language.getLabel('setting')}}</a></li>
        </ul>
        <!-- 1 -->

    </div>
    <!--/.Sorting: checkbox-->
</div>