<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-equipment'" [class]="'skycolor'" [page]="'equipmentS'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main class="redish-theme">

    <div class="container-fluid">
        <!-- row -->
        <div class="row mt-2">

            <!-- col-lg-9-->
            <div class="col-lg-9">
                <div class="card mb-2">
                    <div class="row">

                        <!-- image left section-->
                        <div class="col-md-6 rightborder">
                            <ngx-gallery class="nggallery" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                            <div class="text-center">
                                <button class="btn btn-default" (click)="saveWishlist(equipment.id)"><i [ngClass]="{'fa-heart-o': heartO, 'fa-heart': heart}" class="fa"></i> {{language.getLabel('add_to_wishlist')}}</button>
                            </div>
                        </div>
                        <!-- image left section-->

                        <!-- bid right section-->
                        <div class="col-md-6 pb-1 bidsection">
                            <div class="row pt-1">
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0">
                                        <h1>{{equipment?.name}}</h1>
                                    </div>

                                </div>
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0 text-right">
                                        <h3>{{equipment?.price | currency:'INR':true: maximumFractionDigits: 0}} </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0">
                                        <h2 class="redishtext">{{equipment?.category?.name}} </h2>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0 text-right">
                                        <h4>{{language.getLabel('quantity')}}: {{equipment?.quantity}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0">
                                        <h4>{{equipment?.variety}} </h4>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0 text-right">
                                        <h4>{{language.getLabel('type')}}: {{equipment?.type | capitalize}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <div class="paddingblock pl-0">
                                        <h4> </h4>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="paddingblock pl-0">
                                <form #bidForm="ngForm" (ngSubmit)="addtocart()">
                                    <div class="colorstrip">
                                        <div class="float-left"> <!--<i class="fa fa-rupee redishtext"></i>--> {{language.getLabel('price')}} </div>
                                        <div class="float-right"> {{equipment?.price | currency:'INR':true: maximumFractionDigits: 0}} <span *ngIf="equipment?.type == 'rent'">/ {{equipment?.priceUnit}}</span> </div>
                                      
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="colorstrip" *ngIf=" equipment.user?.id != userID ">
                                        <div class="row">
                                            <div class="col-sm-8"> <!--<i class="fa fa-clock-o redishtext"></i> --><strong class="lineheight32">{{language.getLabel('quantity')}}</strong> </div>
                                            <div class="col-sm-4 greentext">
                                                <div class="md-form has-required">
                                                    <div class="flex relative addform">
                                                        <input class="form-control" id="quantity" max="9999999999" min="1" oninput="validity.valid||(value='');" name="quantity" required type="number" #quantityTotal="ngModel" [(ngModel)]="equipments">
                                                        <!-- <div class="input-group-btn">
                                                            <select name="quantityUnit" ng-reflect-name="quantityUnit" ng-reflect-model="Kg" class="ng-untouched ng-pristine ng-valid">
                                                                <option selected="" value="Kg">Kg</option>
                                                                <option value="Quintal">Quintal</option>
                                                                <option value="Tonnes">Ton</option>
                                                                <option value="Count">Count</option>
                                                                <option value="Dozen">Dozen</option>
                                                            </select> 
                                                        </div> -->
                                                    </div>
                                                    <div class="error-block"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="colorstrip" *ngIf=" equipment.user?.id != userID ">
                                            <div class="float-left"> <!--<i class="fa fa-rupee redishtext"></i>--> 
                                             <strong class="fontsize2"> {{language.getLabel('total')}} </strong>
                                            </div>

                                            <div class="float-right totalprice">
												<strong>{{ totalPrice * equipments | currency:'INR':true}}</strong>
                                            </div>
                                        <div class="clearfix"></div>
                                    </div>


                                    <div class="row" *ngIf=" equipment.user?.id != userID ">
                                        <div class="col-sm-6 bidbutton">
                                            <button type="button" class="btn btn-default redish width100" [disabled]="true">{{language.getLabel('book_now')}}</button>
                                        </div>

                                        <div class="col-sm-6 bidbutton pl-0">
                                            <button type="submit" class="btn btn-success width100" [disabled]="!bidForm.valid">{{language.getLabel('add_to_cart')}}</button>
                                        </div>

                                    </div>

                                    <!-- <div class="bidbutton" [hidden]="isMyCrop">
                    <div *ngIf="isHidden">
                      <button class="btn btn-success width100" disabled>Your bid placed successfully.</button>
                    </div>
                    <div *ngIf="!isHidden">
                      <button class="btn btn-success width100" [disabled]="!bidForm.valid">Get it now</button>
                    </div>
                  </div>
                  <div *ngIf="message=='please login to continue.'" class="alert alert-danger mt-1 text-center"> <small class="text-danger"> To place bid on this crop, please login. </small>
                   </div>
                  <div *ngIf="(amountX.errors?.min) && amountX.touched && _accessToken" class="alert alert-danger mt-1 text-center"> <small class="text-danger"> Enter a valid amount. </small> <small *ngIf="(amountX.errors?.max) && amountX.touched && _accessToken" class="text-danger"> Maximum price should be 9999999999. </small>
                   </div>-->

                                </form>
                            </div>
                        </div>
                        <!-- bid right section-->
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 col-12 mb-1" *ngIf="equipment?.verified == 'Yes'">
                        <div class="verified"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#equipment" role="tab">{{language.getLabel('equipment_details')}}</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#productdescription" role="tab">{{language.getLabel('product_description')}}</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#termsconditions" role="tab">{{language.getLabel('terms_and_conditions')}}</a> </li>
                        </ul>
                        <!-- Nav tabs -->

                    </div>
                </div>
                <div class="card mb-2 crop-listing pb-70">
                    <div class="tab-content">
                        <div class="tab-pane pt-2 pl-3 active" id="equipment" role="tabpanel">

                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> <strong>{{language.getLabel('manufacturer')}} : </strong> {{equipment?.manufacturer?.name }}</div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> <strong>{{language.getLabel('Type')}} : </strong> {{equipment?.type | capitalize}}</div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="equipment.type == 'rent'"> <strong>{{language.getLabel('available_from')}} : </strong> {{equipment?.availableFrom?.formatted }} </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="equipment.type == 'rent'"> <strong>{{language.getLabel('availability_period')}} : </strong> {{equipment?.availablePeriod }} {{equipment?.availableUnit }}</div>

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> <strong>{{language.getLabel('model_year')}} : </strong> {{equipment?.modelyear }}</div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><strong>{{language.getLabel('model')}} :</strong> {{equipment?.model}}
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><strong>{{language.getLabel('address')}} :</strong> {{equipment?.district}}, {{equipment?.state}}</div>
                            </div>

                        </div>

                        <div class="tab-pane" id="productdescription" role="tabpanel">
                            <div class="col-md-12 pt-2">
                                <p>{{equipment?.description}}</p>
                            </div>
                        </div>

                        <div class="tab-pane" id="termsconditions" role="tabpanel">
                            <div class="col-md-12 pt-2">
                                <p>{{equipment?.terms}}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="card crop-listing mb-2" *ngIf="equipment?.description">
                    <div class="col-md-12 col-12 pt-1">
                        <h2>{{language.getLabel('product_description')}}</h2>
                        <p> {{equipment?.description}} </p>                        
                    </div>
                </div> -->


            </div>
            <!-- col-lg-9-->

            <!-- col-lg-3 -->
            <div class="col-lg-3 sidebar-listing">

                <!--sidebar listings-->

                <h2>{{language.getLabel('equipment_posted_by_this_user')}}</h2>

                <!-- card-->
                <div class="card">
                    <div class="row cropcoloumn">
                        <div class="col-md-4">
                            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a class="redishtext" href="javascript:void(0)">Add to Cart</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">
                    <div class="row cropcoloumn">
                        <div class="col-md-4">
                            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">
                    <div class="row cropcoloumn">
                        <div class="col-md-4">
                            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">
                    <div class="row cropcoloumn">
                        <div class="col-md-4">
                            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">
                    <div class="row cropcoloumn">
                        <div class="col-md-4">
                            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">
                    <div class="row cropcoloumn">
                        <div class="col-md-4">
                            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card-->

                <!--sidebar listings-->

            </div>
            <!-- col-lg-3 -->

        </div>
        <!-- row -->

        <!--<div class="ralatedproducts homeproducts listing">

             <div class="row">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <h1>Related Products</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="card">
                        <div class="imageblock">
                            <span class="off-tag">20% off</span>
                            <a href="#"><img class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="" width="420" height="500"></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="#">Potato</a></h4>
                            <span>Fingerling</span>
                            <h5>
                                <em><i class="fa fa-rupee"></i> 2200</em>
                                <i class="fa fa-rupee"></i> 1900
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="card">
                        <div class="imageblock">
                            <a href="#"><img class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="" width="420" height="500"></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="#">Potato</a></h4>
                            <span>Russet</span>
                            <h5>
                                <i class="fa fa-rupee"></i> 1300
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="card h-100">
                        <div class="imageblock">
                            <span class="off-tag">10% off</span>
                            <a href="#"><img class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="" width="420" height="500"></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="#">Potato</a></h4>
                            <span>Red</span>
                            <h5>
                                <em><i class="fa fa-rupee"></i>1600</em>
                                <i class="fa fa-rupee"></i> 1300
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-2">
                    <div class="card h-100">
                        <div class="imageblock">
                            <a href="#"><img class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt=""></a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="#">Potato</a></h4>
                            <span>Petite</span>
                            <h5>
                                <i class="fa fa-rupee"></i> 1300
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        
        </div> -->

    </div>
</main>
<!--Main layout-->