<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="'greencolor'" [page]="'add_crop'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main>
    <div class="container-fluid">

        <!-- row -->
        <div class="row my-2">

            <!-- col-lg-3 -->
            <div class="col-lg-3 col-sm-12 col-12 col-md-4">
                <mysidebar></mysidebar>
            </div>
            <!-- col-lg-3 -->

            <!-- col-lg-9-->
            <div class="col-lg-9 col-sm-12 col-12 col-md-8">

                <h1 class="res-view" *ngIf="action == 'Add'">{{ language.getLabel('add')}} {{language.getLabel('crop')}}</h1>
                <h1 class="res-view" *ngIf="action !== 'Add'">{{ language.getLabel('edit')}} {{language.getLabel('crop')}}</h1>


                <div class="card p20 homeproducts listing">

                    <form role="form" #addCropForm="ngForm" (ngSubmit)="addCrop()">
                        <div class="addform">

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <label for="cropname" [ngClass]="{'active': crops.name}">{{language.getLabel('crop')}} {{language.getLabel('name')}}</label>
                                        <i class="icon-Shape-13 prefix"></i>
                                        <input type="text" name="name" maxlength="50" id="cropname" class="form-control " #name="ngModel" [(ngModel)]="crops.name" required />
                                        <div class="error-block">
                                            <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_crop_name')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <label></label>
                                         <i class="icon-Shape-13 prefix"></i>
                                        <select [(ngModel)]="crops.category_id" #category="ngModel" name="category" (change)="setVarieties()" required>
                                            <option value="" selected>{{language.getLabel('select_category')}}</option>
                                            <option *ngFor="let category of categories" [value]="category.id">{{language.getLabel(category.name)}}</option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="category.errors?.required && category.touched" class="text-danger">
                                                    {{language.getLabel('please_select_category')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-Shape-13 prefix"></i>
                                        <select [(ngModel)]="crops.variety" class="" name="variety">
                                            <option value="" selected>{{language.getLabel('select_variety')}}</option>
                                            <option *ngFor="let variety of varieties" [value]="variety">
                                                {{language.getLabel(variety)}}
                                            </option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <div class="flex relative">
                                            <i class="icon-Shape-13 prefix"></i>
                                           <!--  <select [(ngModel)]="units" name="quantity" (change)="setQuantity()" #quantity="ngModel" placeholder="" required>
                                                <option value="" selected>{{language.getLabel('select_quantity')}}</option>
                                                <option *ngFor="let qty of quantities" [value]="qty.name">{{language.getLabel(qty.name)}}</option>
                                            </select> -->
                                            <label for="quantity" [ngClass]="{'active': crops.quantity}">{{language.getLabel('quantity')}}</label>
                                            <input name="quantity" [(ngModel)]="crops.quantity" #quantity="ngModel" class="form-control" id="quantity" step="0.01" type="number" onKeyPress="if(this.value.length==6) return false;" min="1"  oninput="validity.valid||(value='');" required>
                                            <div class="input-group-btn">
                                            <select [(ngModel)]="crops.quantityUnit" name="quantityUnit">
                                                <option value="Kgs" selected>{{language.getLabel('kgs')}}</option>
                                                <option value="MT" selected>{{language.getLabel('MT')}}</option>
    
                                                <!-- <option value="Quintal">{{language.getLabel('quintal')}}</option>
                                                <option value="Tonnes">{{language.getLabel('ton')}}</option>
                                                <option value="Count">{{language.getLabel('count')}}</option>
                                                <option value="Dozen">{{language.getLabel('dozen')}}</option> -->
                                            </select>
                                            </div>
                                        </div>
                                        <div class="error-block">
                                            <small *ngIf="quantity.errors?.required && quantity.touched" class="text-danger">
                                            {{language.getLabel('please_fill_quantity1')}}
                                        </small>
                                            <small *ngIf="quantity.errors?.min && quantity.touched" class="text-danger">
                                                {{language.getLabel('minimum_value_should_be_1')}}
                                            </small>
                                        </div>
                                        <small *ngIf="quantity.errors?.max && quantity.touched" class="text-danger">
                                            {{language.getLabel('maximum_value_should_be_9999999999')}}
                                        </small>
                                    </div>
                                    <!-- .error-block -->
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <label for="offer" [ngClass]="{'active': crops.price}">{{language.getLabel('offer_price')}}</label>
                                        <i class="fa fa-rupee prefix"></i>
                                        <input name="price" [(ngModel)]="crops.price" #price="ngModel" type="text" id="offer" maxlength="999999" onKeyPress="if(this.value.length==6) return false;" min="1" (keydown.space)="$event.preventDefault()" oninput="validity.valid||(value='');" max="999999" class="form-control" required>

                                        <div class="error-block">
                                            <small *ngIf="price.errors?.required && price.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_offer_price')}}
                                            </small>
                                            <small *ngIf="price.errors?.min && price.touched" class="text-danger">
                                                {{language.getLabel('minimum_offer_price_should_be_1')}}
                                            </small>
                                            <small *ngIf="price.errors?.max && price.touched" class="text-danger">
                                                {{language.getLabel('maximum_offer_price_should_be_9999999999')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <div class="radiobuttons_top">
                                            <label for="quality">{{language.getLabel('quality')}}</label>
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input type="radio" name="grade" value="A+" id="a+" [(ngModel)]="crops.grade">
                                                    <label for="a+">{{language.getLabel('a+')}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input type="radio" name="grade" value="A" id="a" [(ngModel)]="crops.grade">
                                                    <label for="a">{{language.getLabel('a')}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input type="radio" name="grade" value="B" id="b" [(ngModel)]="crops.grade">
                                                    <label for="b">{{language.getLabel('b')}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input type="radio" name="grade" value="C" id="c" [(ngModel)]="crops.grade">
                                                    <label for="c">{{language.getLabel('c')}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input type="radio" name="grade" value="D" id="d" [(ngModel)]="crops.grade">
                                                    <label for="d">{{language.getLabel('d')}}</label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <label for="offer" [ngClass]="{'active': crops.address}">{{language.getLabel('address')}}</label>
                                        <i class="icon-address prefix"></i>
                                        <input name="address" [(ngModel)]="crops.address" #address="ngModel" type="text" id="offer" maxlength="100" class="form-control" required>
                                        <div class="error-block">
                                            <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_address')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <label for="city" [ngClass]="{'active': crops.city}">{{language.getLabel('city_village')}}</label>
                                        <i class="icon-city prefix"></i>
                                        <input name="city" [(ngModel)]="crops.city" #city="ngModel" type="text" name="city" #city="ngModel" [(ngModel)]="crops.city" id="city" class="form-control" maxlength="50" required />
                                        <div class="error-block">
                                            <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_city_village')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>


                            </div>



                            <div class="row">


                                <div class="col-md-6">
                                    <div class="md-form has-required">
                                        <i class="icon-state prefix"></i>
                                        <select [(ngModel)]="crops.state" name="state" (change)="setDistrict();crops.district='';" #state="ngModel" placeholder="" required>
                                            <option value="" selected>{{language.getLabel('select_state')}}</option>
                                            <option *ngFor="let state of states" [value]="state.stateName">{{language.getLabel(state.stateName)}}</option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                                   {{language.getLabel('please_fill_state')}}
                                            </small>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="md-form has-required">
                                        <i class="fa fa-map-marker prefix"></i>
                                        <select name="district" [(ngModel)]="crops.district" [disabled]="!crops.state" #district="ngModel" required>
                                            <option value="" selected>{{language.getLabel('select_district')}}</option>
                                            <option *ngFor="let district of districts" [value]="district.districtName">{{language.getLabel(district.districtName)}}</option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                                    {{language.getLabel('Please_fill_district')}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <label for="pincode" [ngClass]="{'active': crops.pincode}">{{language.getLabel('pincode')}}</label>
                                        <i class="icon-pincode prefix"></i>
                                        <input type="text" id="pincode" name="pincode" #pincode="ngModel" [(ngModel)]="crops.pincode" pattern="[0-9 ]*" class="form-control" maxlength="6" max="999999" required />
                                        <div class="error-block">
                                            <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                                    {{language.getLabel('Please_fill_pincode')}}
                                            </small>
                                            <small *ngIf="pincode.errors?.pattern && pincode.touched" class="text-danger">
                                                    {{language.getLabel('invalid_input')}}
                                            </small>
                                            <small *ngIf="pincode.errors?.max && pincode.touched" class="text-danger">
                                                    {{language.getLabel('maximum_6_digit_allow')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <div class="input-group">
                                            <!-- <ng2-datepicker [(ngModel)]="crops.availableFrom" #availableFrom="ngModel" id="availableFrom" name="availableFrom" [options]="options"></ng2-datepicker> -->

                                            <label class="active" for="availableFrom"> {{language.getLabel('available_from')}} (DD/MM/YYYY)</label>

                                            <input id="availableDate" class="form-control" [(ngModel)]="availableDate" name="availableDate" materialize="pickadate" [materializeParams]="[{ format: 'dd/mm/yyyy', min: minDate}]" #availableDate1="ngModel" type="date" required/>

                                            <i class="calendaricon fa fa-calendar"></i>
                                        </div>
                                         <div class="error-block">
                                            <small *ngIf="availableDate1.errors?.required &&  availableDate1.touched"  class="text-danger">
                                                     {{language.getLabel('Please_fill_the_date')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <div class="flex relative">
                                            <label for="availablePeriod" [ngClass]="{'active': crops.availablePeriod}">{{language.getLabel('availability_period')}}</label>
                                            <i class="fa fa-clock-o prefix"></i>
                                            <input name="availablePeriod" [(ngModel)]="crops.availablePeriod" #availablePeriod="ngModel" type="number" min="1" max="9999999999"  onKeyPress="if(this.value.length==6) return false;" id="availablePeriod" class="form-control" required >

                                            <div class="input-group-btn">
                                                <select name="availability" [(ngModel)]="crops.availableUnit" required>
                                                    <option value="Days">{{language.getLabel('days')}}</option>
                                                    <option value="Month">{{language.getLabel('months')}}</option>
                                                    <option value="Year">{{language.getLabel('years')}}</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="error-block">
                                            <small *ngIf="availablePeriod.errors?.required && availablePeriod.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_the_availability_period')}}
                                            </small>
                                            <small *ngIf="availablePeriod.errors?.min && availablePeriod.touched" class="text-danger">
                                                {{language.getLabel('minimum_available_period_should_be_1')}}
                                            </small>
                                            <small *ngIf="availablePeriod.errors?.max && availablePeriod.touched" class="text-danger">
                                                {{language.getLabel('maximum_available_period_should_be_9999999999')}}
                                            </small>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form">
                                        <div class="input-group has-required">

                                            <label class="active" for="bidEndDate" [ngClass]="{'active': crops.bidEndDate}"><span class="text-danger">*</span> {{language.getLabel('bid_end_date')}} (DD/MM/YYYY)</label>
                                            <input id="bidEndDate" class="form-control" [(ngModel)]="availableDatee" name="bidEndDate"  materialize="pickadate" [materializeParams]="[{ format: 'dd/mm/yyyy', min: minDate}]" #bidEndDate="ngModel" type="date" required/>
                                            <i class="calendaricon fa fa-calendar"></i>
                                        </div>
                                        <div class="error-block">
                                            <small *ngIf="bidEndDate.errors?.required &&  bidEndDate.touched"  class="text-danger">
                                                     {{language.getLabel('Please_fill_the_date')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-12 col-xl-6">
                                    <div class="md-form has-required">
                                        <label for="minBidAmount" [ngClass]="{'active': crops.minBidAmount}">{{language.getLabel('minimum_bid_amount ')}}</label>
                                        <i class="fa fa-rupee prefix"></i>
                                        <input name="minBidAmount" maxlength="6" [(ngModel)]="crops.minBidAmount" #minBidAmount="ngModel" type="text" min="0" max="99999" (keydown.space)="$event.preventDefault()" oninput="validity.valid||(value='');" id="minBidAmount" class="form-control" required>
                                         <div class="error-block">
                                            <small *ngIf="minBidAmount.errors?.required && minBidAmount.touched" class="text-danger">
                                                    {{language.getLabel('min_bid_amount_required')}}
                                            </small>
                                            <small *ngIf="minBidAmount.errors?.min && minBidAmount.touched" class="text-danger">
                                                {{language.getLabel('minimum_min_bid_amount_should_be_0')}}
                                            </small>
                                            <small *ngIf="minBidAmount.errors?.max && minBidAmount.touched" class="text-danger">
                                                {{language.getLabel('maximum_min_bid_amount_should_be_9999999999')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12 col-xl-6">
                                   <div class="md-form">
                                        <i class="fa fa-rupee prefix"></i>
                                        <label for="minBidQuantity" [ngClass]="{'active': crops.minBidQuantity}">{{language.getLabel('minimum_bid_quantity')}}</label>
                                        <input name="minBidQuantity" [(ngModel)]="crops.minBidQuantity" #minBidQuantity="ngModel" type="number" min="0" max="9999999999" (keydown.space)="$event.preventDefault()" oninput="validity.valid||(value='');" id="minBidQuantity" class="form-control">
                                        <div class="error-block">
                                            <small *ngIf="minBidQuantity.errors?.min && minBidQuantity.touched" class="text-danger">
                                                {{language.getLabel('minimum_min_bid_Quantity_should_be_1')}}
                                            </small>                                            
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-lg-12 col-xl-6">
                                    <div class="md-form">
                                        <label for="description" [ngClass]="{'active': crops.description}">{{language.getLabel('description')}}</label>
                                        <i class="fa fa-info prefix"></i>
                                        <!-- <input name="description" [(ngModel)]="crops.description" #description="ngModel" type="text" id="description" class="form-control"> -->
                                        <textarea type="text" name="description" class="md-textarea" rows="10" cols="10" [(ngModel)]="crops.description" #description="ngModel" id="description"></textarea>
                                      
                                    </div>
                                </div> 

                            </div>

    
                            <div class="row">
                                <!-- <div class="col-lg-12 col-xl-6">
                                    <div class="md-form">
                                        <i class="fa fa-info prefix"></i>
                                        <label for="description" [ngClass]="{'active': crops.description}">{{language.getLabel('description')}}</label>
                                        <input name="description" [(ngModel)]="crops.description" #description="ngModel" type="text" id="description" class="form-control">
                                    </div>
                                </div>    -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="nf-image" class="blocklabel" title="You can upload maximum 5 images">{{language.getLabel('upload_image')}} ({{language.getLabel('max_5')}})</label>
                                        <input [disabled]="!crops?.images || crops?.images?.length==5 || isImageUploading" #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload (imageSelected)="uploadImage($event)"
                                            accept="image/jpg, image/jpeg, image/png" />

                                        <label for="file-7"> 
                                            <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> {{language.getLabel('upload_image')}}</strong>
                                            <span *ngIf="isImageUploading">
                                                <div class="loader-inner-small">
                                                   <div  class="loader"></div>
                                                </div>
                                            </span>                                        
                                        </label>

                                        <div class="thumbnail" *ngFor="let image of crops.images" (click)="viewImage(_host+'/images/crops/'+image)">
                                            <img src="{{_host}}/images/crops/{{image}}">
                                            <i class="close fa fa-times" (click)="removeImage(image)"></i>
                                        </div>

                                    </div>
                                </div>


                            </div>


                            <button class="btn btn-success" [disabled]="(!addCropForm.valid || isImageUploading) ">{{language.getLabel('submit')}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- col-lg-9-->
        </div>
        <!-- row -->
    </div>
</main>
<!--/Main layout-->