
			
			<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'about us'"></breadcrumb>
	

		
				<!--
				About we do section start  	  =
		======================================= -->
	<div class="card">
		<section id="about-we-do">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="about-img">
								<img src="assets/img/about.png" alt="aboutus" class="img-thumbnail">
							</div><!-- /.about-img -->
						</div>
						<div class="col-md-7">
							<div class="about-content">
								<h1>What We Do</h1>
								<p><strong>Aim of FITNESSS 24</strong>, is to encourage a positive and healthy lifestyle for Physical, Mental and Emotional health of peoples.If you’re seeking motivation to keep up your daily yoga practice, FITNESSS 24 gives you several of reasons to get you back on your yoga mat every day.
								Pick a suitable class and center for your level and approach it with an open mind-you’ll feel different, more open present and happier.
								These techniques are the demand of today’s life. We have to know about it and it’s our responsibility to spread knowledge of it. If we follow our ancient technology we can fight with these new diseases and create a healthy, fit world.</p>
								<p>Further we are going to setup a venture which will work in different places to reach more peoples easily, so that each and every person can take advantage of this concept.</p>
							</div><!-- /.about-content -->
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>
	



		<!--
				Pro Trainer section start  	  =
		======================================= -->
		
		<section id="pro-trainer">
			<div class="section-padding">
				<div class="container">
					
						
						<h2 class="section-title"><span>Professional</span><br> Team</h2>
						
						<div class="row">
						<div class="card-deck">
						<div class="col-sm-2 col-md-4">
						<div class="card">
						    <img class="card-img-top" src="assets/img/team.jpg" alt="Card image cap">
						    <div class="card-block">
						      <h1 class="card-title">Fitness24 Team</h1>
						      <p class="card-text">Main focus of team to add kind of centers in this platform, where everyone easily get their services. We are laso with Fitness24 consult team.</p>
						      
						    </div>
  						</div>
						</div>
						<div class="col-sm-2 col-md-4">
						<div class="card">
						    <img class="card-img-top" src="assets/img/development.jpg" alt="Card image cap">
						    <div class="card-block">
						      <h1 class="card-title">Development Team</h1>
						      <p class="card-text">We have a team where every member strong in his/her field like Web Development, Android development, Photoshop, Yoga. We are laso provide these services on requirments </p>
						     
						    </div>
						</div>
							
						</div>
						<div class="col-sm-2 col-md-4">
							<div class="card">
							    <img class="card-img-top" src="assets/img/aboutus.png" alt="fitnesstech">
							    <div class="card-block">
							      <h1 class="card-title">Fitness Tech</h1>
							      <p class="card-text">If you are looking for best supportive team for build your startup with best solution related IT software and web development then go with us.</p>
							      
							    </div>
  							</div>
						</div>

					</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>
		
		
		</div>

	
		

