<app-loader [isloading]="isloading"></app-loader>
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'Contact'"></breadcrumb>

		<!--
				registration form start 	  =
		======================================= -->
		<div class="container-fluid">
	<div class="card">
		<section id="contact-page">
			<div class="section-padding ">
				<div class="container ">
					<div class="row">
						<div class="col-md-7 left-col ">
							
								<h3 class="comment-title">Leave A Request</h3>

								<!-- <form action="#" (ngSubmit)="contact()">
									<input type="text" #email="ngModel" [(ngModel)]="data.email" name="email" class="pull-left" placeholder="E-mail *">

									<input type="text" #name="ngModel" [(ngModel)]="data.name" name="name" class="pull-right" placeholder="Name *">

									<input type="text" #problem="ngModel" [(ngModel)]="data.problem" name="problem" class="subjcet" placeholder="problem *">

									<input type="text" #phone="ngModel" [(ngModel)]="data.phone" name="phone" class="subjcet" placeholder="mobile no *">
									
									<textarea name="massage" #massage="ngModel" [(ngModel)]="data.message" name="massage" placeholder="Massage"></textarea>
									<button class="btn custom-btn">Submit</button>
								</form> -->
								<form class="border border-primary" (ngSubmit)="contact()">
 						
								    <input type="email" #email="ngModel" [(ngModel)]="data.email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email*">
								    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								 
								  	<input type="text" #name="ngModel" [(ngModel)]="data.name" name="name" class="form-control" placeholder="Name *">
								  
								  	<input type="text" #problem="ngModel" [(ngModel)]="data.problem" name="problem"  class="form-control" placeholder="problem *">

									<input type="number" #phone="ngModel" [(ngModel)]="data.phone" name="phone"  class="form-control" placeholder="mobile no *">

								    <textarea class="form-control" #massage="ngModel" [(ngModel)]="data.message" name="massage" id="exampleTextarea" rows="3" placeholder="Enter a massage*"></textarea>
								 
								  
								  
								  
								  <button type="submit" class="btn btn-primary">Submit</button>
								</form>
							
						</div><!-- /.col-md-6 -->

						<div class="col-md-5 right-col">
							<div class="sidebar">
								<div class="widget">								
									<h4 class="widget-title">Orgainizer Details</h4>

									<p class="widget-des">Uniquely repurpose leveraged technologies with quality intellectual capital. Interactively synthesize excellent benefits. </p>

									<ul class="address">
										<li>
											<i class="fa fa-map-marker"></i>
											<span>New Delhi Ncr</span>
										</li>

										<li>
											<i class="fa fa-phone"></i>
											<span>+918707025813</span>
										</li>

										<li>
											<i class="fa fa-envelope"></i>
											<span><a href="#">contact@yourmail.com</a></span>
										</li>

										<li>
											<i class="fa fa-globe"></i>
											<span><a href="#">our website</a></span>
										</li>

										<li>
											<div class="m-share">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
													<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
												</ul>
											</div><!-- /.m-share -->
										</li>
									</ul>
								</div><!-- end widge-box-->
							</div>
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>
	</div>
	</div>
