<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'Trainers'"></breadcrumb>


		<!--
			    main body start              =
		======================================= -->
		<section id="main-body">
			<div class="container">
			<div class="class-trainer">
				<div class="row">
					

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a [routerLink]="['/trainors/trainorsportfolio']"><img src="assets/images/trainer-img1.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>	

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer2.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer3.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div><!-- /.col-md-4 -->
				</div>
				<div class="row">		
						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer4.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer5.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer6.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div><!-- /.col-md-4 -->
					</div>
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer7.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer8.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer9.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div><!-- /.col-md-4 -->
					</div>
					</div><!-- /.class-trainer -->
				
			</div><!-- /.container -->
		</section>