<app-loader [isloading]="isloading"></app-loader>
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'Trainers'"></breadcrumb>


		<!--
			    main body start              =
		======================================= -->
	<div class="card">
		<section id="main-body">
			<div class="container">
			<div class="class-trainer">
				<div class="row">
					

						<div class="col-sm-4 col-md-4" *ngFor="let obj of data">
							<div class="image-box">
								<div class="b-img">
									<a href="#">
									<img *ngIf="obj.image" class="card-img-top img-fluid" src="{{_host}}/images/trainor/{{obj?.image}}" alt="">
									<img *ngIf="!obj.image" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt=""> 
            						<!-- <img *ngIf="(!obj?.image || obj?.images?.length == '0')" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt=""> -->
									</a>

									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-youtube"></i></a>
										
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href=""><strong>Name:</strong>{{obj.name}}</a></h4>
									<p><strong>Specialist:</strong>{{obj.specialist}}</p>
									<p><strong>Contact:</strong>{{obj.contact}}</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>	

						
					</div>
					</div><!-- /.class-trainer -->
				
			</div><!-- /.container -->
		</section>
	</div>