<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner'" [class]="''" [page]="'Logistic Partners'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main class="green-theme">

    <div class="container-fluid">

        <div class="row mt-2 my-2">

            <!-- col-lg-9-->
            <div class="col-lg-9 mb-1">

                <div class="card">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-7">
                                <h1 class="mb-0 pb-0">{{language.getLabel('logistic_partners')}}</h1>
                            </div>
                            <div class="col-md-4 col-sm-4 col-5 text-right">
                                <button (click)="skipLogistics()" class="btn-default">{{language.getLabel('skip')}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-block lp">
                        <form #lpartnerForm="ngForm" (ngSubmit)="saveLogistic()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- <label class="label-block">{{language.getLabel('contact_person')}}</label>-->
                                    <select class="col-sm-6 p10 borderradius" name="category" [(ngModel)]="partnerID" (change)="showUserLogistic()">
            							<option value="" selected >{{language.getLabel('select_logistics_partner')}}</option>
            							<option *ngFor="let lpartner of lpartners" [value]="lpartner.id">{{lpartner.contactPerson}}</option>
        							</select>
                                </div>
                            </div>

                            <div *ngIf="logisticDetail" class="card mt-2 mb-2 p10">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <strong> {{language.getLabel('contact_person')}}</strong>
                                    </div>
                                    <div class="col-sm-10">
                                        {{partner.contactPerson}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <strong> {{language.getLabel('company_name')}}</strong>
                                    </div>
                                    <div class="col-sm-10">
                                        {{partner.companyName}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <strong>{{language.getLabel('email')}}</strong>
                                    </div>
                                    <div class="col-sm-10">
                                        {{partner.email}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <strong> {{language.getLabel('address')}}</strong>
                                    </div>
                                    <div class="col-sm-10">
                                        {{partner.address}}
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="logisticDetail" class="vehicles_row mb-1">
                                <div class="card mb-1 p6 pb-0 bggrey" *ngFor="let vehicle of vehicles; let i=index;">
                                    <div class="row">
                                        <div class="col-sm-4 col-6">

                                            <div class="radio_button">
                                                <input name="lvehicle" [(ngModel)]="lvehicle" #lvehicleX="ngModel" (click)="logisticPayment(vehicle)" [value]="vehicle._id" id="check_{{i}}" type="radio" required>
                                                <label for="check_{{i}}"><strong>Vehicle #1</strong></label>
                                                <div class="error-block">
                                                    <small *ngIf="lvehicleX.errors?.required && lvehicleX.dirty" class="text-danger">
                                                            {{language.getLabel('please_select_a_vehicle')}}
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-8 col-6 text-right"><i class="fa fa-rupee"></i> <strong>20000</strong></div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer" *ngIf="logisticDetail">
                        <button class="btn btn-success ml-0 mt-0 mb-1" (click)="saveLogistic()" [disabled]="!lpartnerForm.valid">Save</button>
                    </div>    
                </div>               

            </div>
            <!-- col-lg-9-->

            <!-- col-lg-3 -->
            <div class="col-lg-3 sidebar-listing">

                <h2>{{language.getLabel('crop_posted_by_this_farmer')}}</h2>


                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->


                <!--sidebar listings-->

            </div>
            <!-- col-lg-3 -->

        </div>

    </div>

</main>
<!--/Main layout-->