<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="'greencolor'" [page]="'bids_list'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main class="green-theme">
    <div class="container-fluid">
        <!-- row -->
        <div class="row mt-2">

            <!-- col-lg-3 -->
            <div class="col-lg-3 col-sm-12 col-12 col-md-4">
                <mysidebar></mysidebar>
            </div>
            <!-- col-lg-3 -->

            <!-- col-lg-9-->
            <div class="col-lg-9 col-sm-12 col-12 col-md-8">
                <div class="card mb-2">
                    <div class="row">

                        <!-- bid right section-->
                        <div class="col-lg-12 bidsection bidlist pt-1">

                            <div class="row">
                                <div class="col-sm-5 col-5">
                                    <div class="paddingblock">
                                        <h1>{{crop?.name}}</h1>
                                        <h2 class="greentext">{{crop?.variety}}</h2>
                                         <h4>{{crop?.category?.name}}</h4>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-7">
                                    <div class="paddingblock text-right">
                                        <h3> <strong class="greentext">  {{crop?.price | currency:'INR':true: maximumFractionDigits: 0}}</strong></h3>
                                        <h3>{{crop?.quantity}} {{language.getLabel(crop?.quantityUnit)}}</h3>
                                        <h3><strong>{{language.getLabel('quality')}}:</strong> {{crop?.grade}}</h3>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="paddingblock bidsall">
                                <div class="row">
                                    <div class="col-sm-7 col-7">
                                        <h2 class="greentext"><strong>{{language.getLabel('bids')}}</strong></h2>
                                    </div>
                                </div>
                                
                                <div class="colorstrip pt-10" *ngIf="totalBids == 0">
                                    {{language.getLabel('no_bids')}}
                                </div>

                                <div class="colorstrip" *ngFor="let bid of crop.bids">
                                    <a href="" [routerLink]="['/crops/bidaccept/'+cropID+'/'+bid.id]">
                                      <div class="row align-items-center">
                                        <div class="col-sm-12 col-md-12 col-lg-9 pt5">
                                           
											<div class="float-left responsivewidth100 ">
												<h3>{{bid.user.fullName}}</h3>
                                                <span><i class="fa fa-calendar"></i>{{bid?.createdAt | date}}&nbsp;&nbsp;<i class="fa fa-clock-o"></i> {{bid?.createdAt | date:"HH:mm"}}</span>
                                                <span> <strong>{{language.getLabel('quantity')}}:</strong> {{bid?.quantity}} {{language.getLabel(crop?.quantityUnit)}}</span> 
                                                <span> <strong>{{language.getLabel('status')}}:</strong> {{bid?.status}}</span> 
											</div>
                                             
                                        </div>
                                            
                                        <div class="col-sm-12 col-md-12 col-lg-3 pt3 text-right ">
											<h3>{{bid?.amount | currency:'INR':true}}</h3>
											<button class="btn btn-success fontsize15 mt-0"> {{language.getLabel('view_bid')}}</button>
                                        </div>
                                       
									 </div>
                                   
                                    </a>
                                </div>
                               
                            </div>
                        </div>
                        <!-- bid right section-->
                    </div>
                </div>
           
            </div>
            <!-- col-lg-9-->

        </div>
        <!-- row -->

    </div>
</main>
<!--Main layout-->