<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="'greencolor'" [page]="'crops'"></breadcrumb>
<!-- small banner-->


<!--Main layout-->

<main class="green-theme">
    <div class="container-fluid"> 
    
    <!-- row -->
    <div class="row mt-2"> 
      
      <!-- col-lg-9-->
      <div class="col-lg-9">
        <div class="card mb-2">
          <div class="row">
            <div class="col-lg-12 bidsection bidlist pt-1">
              
            <div class="paddingblock bidsall">
                <div class="row">
                  <div class="col-sm-7">
                    <h2 class="greentext"><strong>{{language.getLabel('bids_history')}}</strong></h2>
                  </div>
  
                                     
                </div>
                <div class="colorstrip" *ngIf="totalBids == 0"> {{language.getLabel('no_bids')}} </div>
                <div class="colorstrip userlist mt8" *ngFor="let bid of bids">
                 
                  <a href="javascript: void(0)">
                       
                    <div class="float-left responsivewidth100 pt3"> 
					  <div class="name"><a href="javascript:void(0);">{{bid?.bidBy?.fullName}}</a>	</div>
                      <span><a href="javascript:void(0);"><i class="fa fa-calendar"></i>{{bid?.createdAt | date}}</a></span>
					  <span><a href="javascript:void(0);"><i class="fa fa-clock-o"></i> {{bid?.createdAt | date:"HH:mm"}}</a></span>
                      <span><a href="javascript:void(0);">{{language.getLabel('status')}}: {{bid?.bidStatus}}</a></span>  
                      <span><a href="javascript:void(0);">{{language.getLabel('quantity')}}: {{bid?.quantity}} {{bid?.quantityUnit}}</a></span>                      
                    </div>
                    
                    <div class="float-right responsivewidth100 text-right">
                      <!--
                      <h3 class="pt3"> <a class="greentext" href="javascript:void(0);">{{bid.amount | currency:'INR':true}}</a></h3>
                       -->
                      <h3 _ngcontent-eoq-31="" class="pt-1"> <a class="greentext" href="javascript:void(0);">{{bid?.amount | currency:'INR':true: maximumFractionDigits: 0}}</a> </h3>
                    </div>
					<div class="clearfix"></div>
                       
                     <!--   <div class="row">
                            <div class="col-sm-12 col-md-9 pt3"> 
                                <strong>
                                    <a class="fontsize1" href="javascript:void(0);">{{bid?.bidBy?.fullName}}</a>
                                </strong>
                                <span>
                                    <a href="javascript:void(0);"><i class="fa fa-calendar"></i>{{bid?.createdAt | date}}</a>
                                </span>
                                <span>
                                    <a href="javascript:void(0);"><i class="fa fa-clock-o"></i> {{bid?.createdAt | date:"HH:mm"}}</a>
                                </span>                               
                                <span>
                                    <a class="fontsize16 pl50" href="javascript:void(0);">{{language.getLabel('status')}}: {{bid?.bidStatus}}</a>
                                </span>
                                 <span>
                                    <a class="fontsize16" href="javascript:void(0);">{{language.getLabel('quantity')}}: {{bid?.quantity}} {{bid?.quantityUnit}}</a>
                                </span>
                               
                            </div>
                            
                            <div _ngcontent-eoq-31="" class="col-sm-12 col-md-3 pt3 pt3 text-right">
							  <h3 _ngcontent-eoq-31="" class="pt3">
							    <a class="greentext" href="javascript:void(0);">{{bid?.amount | currency:'INR':true: maximumFractionDigits: 0}}</a>
                              </h3>
                           </div>
                       
                        </div>-->
                    </a>
                </div>
              </div>
            </div>
            
            <!-- bid right section--> 
          </div>
        </div>
      </div>
      <!-- col-lg-9--> 
      
        <!-- col-lg-3 -->
            <div class="col-lg-3 sidebar-listing">

                <h2>{{language.getLabel('crop_posted_by_this_farmer')}}</h2>


                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

                <!-- card-->
                <div class="card">

                    <div class="row cropcoloumn">
                        <div class="col-md-2 col-3 col-lg-4 col-xl-4">
                            <div class="imageblock">
                                <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots">
                            </div>
                        </div>
                        <div class="col-md-10 col-9 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0">
                                    <h2>Scarlet Seeds</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-8 pl-0">
                                    <p>Bids end in</p>
                                </div>
                                <div class="col-md-5 col-4 text-right">
                                    <p>1 day</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Bid now</a></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- card-->

               

                <!--sidebar listings-->

            </div>
            <!-- col-lg-3 -->
      
    </div>
    <!-- row --> 
    
  </div>
</main>
<!--Main layout-->