<h2>{{language.getLabel('input_posted_by_this_user')}}</h2>

<!-- card-->
<div class="card">
    <div class="row cropcoloumn">
        <div class="col-md-4 col-4 col-lg-4 col-xl-4">
            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
        </div>
        <div class="col-md-8 col-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-12 col-12 pl-0">
                    <h2>Scarlet Seeds</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 pl-0">
                    <p>Price</p>
                </div>
                <div class="col-md-5 col-4 text-right">
                    <p><i class="fa fa-rupee"></i>1457</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
            </div>
        </div>
    </div>
</div>
<!-- card-->

<!-- card-->
<div class="card">
    <div class="row cropcoloumn">
        <div class="col-md-4 col-4 col-lg-4 col-xl-4">
            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
        </div>
        <div class="col-md-8 col-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-12 col-12 pl-0">
                    <h2>Scarlet Seeds</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 pl-0">
                    <p>Price</p>
                </div>
                <div class="col-md-5 col-4 text-right">
                    <p><i class="fa fa-rupee"></i>1457</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
            </div>
        </div>
    </div>
</div>
<!-- card-->

<!-- card-->
<div class="card">
    <div class="row cropcoloumn">
        <div class="col-md-4 col-4 col-lg-4 col-xl-4">
            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
        </div>
        <div class="col-md-8 col-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-12 col-12 pl-0">
                    <h2>Scarlet Seeds</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 pl-0">
                    <p>Price</p>
                </div>
                <div class="col-md-5 col-4 text-right">
                    <p><i class="fa fa-rupee"></i>1457</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
            </div>
        </div>
    </div>
</div>
<!-- card-->

<!-- card-->
<div class="card">
    <div class="row cropcoloumn">
        <div class="col-md-4 col-4 col-lg-4 col-xl-4">
            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
        </div>
        <div class="col-md-8 col-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-12 col-12 pl-0">
                    <h2>Scarlet Seeds</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 pl-0">
                    <p>Price</p>
                </div>
                <div class="col-md-5 col-4 text-right">
                    <p><i class="fa fa-rupee"></i>1457</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
            </div>
        </div>
    </div>
</div>
<!-- card-->

<!-- card-->
<div class="card">
    <div class="row cropcoloumn">
        <div class="col-md-4 col-4 col-lg-4 col-xl-4">
            <div class="imageblock"> <img class="img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="Carrots"> </div>
        </div>
        <div class="col-md-8 col-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-12 col-12 pl-0">
                    <h2>Scarlet Seeds</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 pl-0">
                    <p>Price</p>
                </div>
                <div class="col-md-5 col-4 text-right">
                    <p><i class="fa fa-rupee"></i>1457</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 pl-0"> <span><a href="javascript:void(0)">Add to Cart</a></span></div>
            </div>
        </div>
    </div>
</div>
<!-- card-->