<app-loader [isloading]="isloading"></app-loader>
<!-- <app-header [isloading]="isloading"></app-header> -->
<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'login'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main>
    <div class="container-fluid">

        <!-- loginbox-->
        <div class="loginbox my-2">

            <!--Form without header-->

            <div class="text-center">
                <h2>reset_password</h2>
            </div>

            <div class="card">

                <!--Header-->

                <div class="card-block">
                    <!-- <div class="error-block" *ngIf="isError">
                        <p class="text-danger text-center">
                            {{errMessage}}
                        </p>
                    </div>
                    <div class="error-block" *ngIf="isSuccess">
                        <p class="text-success text-center">
                            {{errMessage}}
                        </p>
                    </div> -->
                    <form role="form" #loginForm="ngForm" (ngSubmit)="submit()">
                        <!--Body-->
                    <div class="row">
                        <div class="col-md-12">
                                <div class="md-form has-required">
                                    <i class="fa fa-lock prefix"></i>
                                    <label for="password">password</label>
                                    <input type="password" id="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.newPassword" minlength="8" required>
                                    <div class="error-block">
                                        <small *ngIf="password.errors?.required && password.touched" class="text-danger">
                                            password_is_required
                                        </small>
                                        <small *ngIf="password.errors?.minlength && password.touched" class="text-danger">
                                           password_should_be_8_characters
                                        </small>
                                    </div>
                                </div>
                            </div>
                    </div>
                     <div class="row">
                            <div class="col-md-12">
                                <div class="md-form has-required">
                                    <i class="fa fa-lock prefix"></i>
                                    <label for="confirmPassword">confirm_password*</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required [equalTo]="password" />
                                    <div class="error-block">
                                        <small *ngIf="confirmPassword.errors?.required && confirmPassword.touched" class="text-danger">
                                            confirm_password_is_required
                                        </small>
                                        <small *ngIf="(confirmPassword.errors?.equalTo && confirmPassword.touched)" class="text-danger">
                                            password_mismatch
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success signin" [disabled]="!loginForm.valid">{{language.getLabel('send')}}</button>
                            </div>
                        </div>

                    </form>
                </div>


            </div>

        </div>
        <!-- loginbox-->

    </div>
</main>
<!--/Main layout-->

<!-- <app-footer></app-footer> -->