<a [routerLink]="[url]">
    <div class="imageblock">
        <img *ngIf="item?.images?.length > 1" class="card-img-top img-fluid" src="{{_host}}/images/{{page}}/{{item?.images[0]}}" alt="">
        <img *ngIf="item?.images?.length == 1" class="card-img-top img-fluid" src="{{_host}}/images/{{page}}/{{item?.images}}" alt="">
        <img *ngIf="(!item?.images || item?.images?.length == '0')" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="">
    </div>
</a>