
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'Profile'"></breadcrumb>
<app-loader [isloading]="isloading"></app-loader>

		<!--
			    trainer-portfolio start              =
		======================================= -->
	<div class="card">
		<section class="trainer-portfolio">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="portfolio-image">
								<img *ngIf="profileData?.image" class="card-img-top img-fluid" src="{{_host}}/images/yoga/{{profileData?.image}}" alt="">
								<img *ngIf="!profileData?.image" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="">
							</div><!-- /.portfolio-image -->
							<!-- <give-rating [ratingUserID]="profileData?.id"></give-rating> -->
						</div><!-- /.col-md-4 -->

						<div class="col-md-8">
							<div class="portfolio-content">
								<div class="portfolio-title">
									<h3 class="pull-left">{{profileData?.name}} <br> <span>{{profileData?.title}}</span></h3>

									            
            						
									<a><i class="fa fa-heart-o pull-right" title="like" (click)="likeProfile()" style="font-size:20px;color:red" [ngClass]="{'fa-heart-o': heartO, 'fa-heart': heart}" >{{count}}</i></a>
									<a   class="pull-right"><i class="fa fa-eye" title="view" style="font-size:20px;"  aria-hidden="true" >{{view}}</i></a>
									
									
														
								</div><!-- /.portfolio-title -->

								<p>{{profileData?.detail}}</p>
								

								<ul>
									<li>
										<div class="addr-left">
											Phone:
										</div>
										<div class="addr-right">
											<span>{{profileData?.phone}}</span>
										</div>
									</li>

									<li>
										<div class="addr-left">
											E-mail:
										</div>
										<div class="addr-right">
											<span>{{profileData?.email}}</span>
										</div>
									</li>

									<li>
										<div class="addr-left">
											Follow me on:
										</div>
										<div class="addr-right">
											<div class="m-share">
												<ul>
													<li><a href="#" ><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-instagram"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
												</ul>
										</div><!-- /.m-share -->
										  
										
										</div>

									</li>
									<div class="addr-left">
											Share me on:
									</div>
									<div class="addr-right">
									<button  style="color: #f1f1fb;background-color: #32327b;border: none;border-radius: 11px;" ceiboShare  [facebook]="{u: repoUrl}"><i class="fa fa-facebook"></i></button>
									</div>
								</ul>

								
							</div><!-- /.portfolio-content -->
						</div><!-- /.col-md-8 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>



		<!--
			    trainer-portfolio start              =
		======================================= -->
		<section id="classby">
			<div class="section-padding">
			
				<div class="container">
					
						<!-- related post  -->
						<div class="related-post comment-area class-grid">
							<h3>Services</h3>
							<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let obj of array">
								<div class="f-product-box">
									<div class="box-img">
										<img *ngIf="obj?.image" class="card-img-top img-fluid" src="{{_host}}/images/yoga/{{obj?.image}}" alt="">
										<img *ngIf="!obj?.image" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="">
										<div class="overlay"></div><!-- /.overlay -->
										
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#">{{obj.name}}</a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span></span>
												<span>{{obj.price}}</span>
											</div><!-- /.product-price -->
											
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							

					

							
						</div><!-- end tabpanel -->

							<!-- <div class="row">
								<div class="col-sm-4 col-md-4" *ngFor="let obj of array">
									
									<div class="image-box">
										<div class="b-img">
											<img *ngIf="obj?.image" class="card-img-top img-fluid" src="{{_host}}/images/yoga/{{obj?.image}}" alt="">
											<img *ngIf="!obj?.image" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="">
										</div>

										<div class="class-info">
											<span>Name:</span><h4 >{{obj.name}}</h4><br/>
											<span>Price:</span><h4 >{{obj.price}}</h4><br/>

				

											<a href="#" class="custom-btn learn-more">Learn More</a>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					
				</div><!-- /.container -->
				
			</div><!-- /.section-padding -->
		</section>
	</div>

