<app-loader [isloading]="isloading"></app-loader>
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'Center Profile'"></breadcrumb>


		<!--
			    trainer-portfolio start              =
		======================================= -->
	<div class="card">
		<section class="trainer-portfolio">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="portfolio-image">
								<img *ngIf="profileData?.image" class="card-img-top img-fluid" src="{{_host}}/images/yoga/{{profileData?.image}}" alt="">
								<img *ngIf="!profileData?.image" class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="">
							</div><!-- /.portfolio-image -->
						</div><!-- /.col-md-4 -->

						<div class="col-md-8">
							<div class="portfolio-content">
								<div class="portfolio-title">
									<h3 class="pull-left">{{profileData?.name}} <br> <span>{{profileData?.title}}</span></h3>
									<a href="#" class="custom-btn pull-right">Contact Trainer</a>
								</div><!-- /.portfolio-title -->

								<p>{{profileData?.detail}}</p>
								

								<ul>
									<li>
										<div class="addr-left">
											Phone:
										</div>
										<div class="addr-right">
											<span>{{profileData?.phone}}</span>
										</div>
									</li>

									<li>
										<div class="addr-left">
											E-mail:
										</div>
										<div class="addr-right">
											<span>{{profileData?.email}}</span>
										</div>
									</li>

									<li>
										<div class="addr-left">
											Follow me on:
										</div>
										<div class="addr-right">
											<div class="m-share">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
													<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
												</ul>
										</div><!-- /.m-share -->
										</div>
									</li>
								</ul>

								
							</div><!-- /.portfolio-content -->
						</div><!-- /.col-md-8 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>



		<!--
			    trainer-portfolio start              =
		======================================= -->
		<section id="classby">
			<div class="section-padding">
			
				<div class="container">
					
						<!-- related post  -->
						<div class="related-post comment-area class-grid">
							<h3>Related Post</h3>

							<div class="row">
								<div class="col-sm-4 col-md-4" *ngFor="let obj of array">
									
									<div class="image-box">
										<div class="b-img">
											<a href="class-detail.html"><img src="assets/images/class-grid1.jpg" alt="Image"></a>
										</div>

										<div class="class-info">
											<h4 class="class-title">{{obj.name}}</h4>
											

				

											<a href="#" class="custom-btn learn-more">Learn More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					
				</div><!-- /.container -->
				
			</div><!-- /.section-padding -->
		</section>
	</div>

