<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'add_equipment'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main class="redish-theme">
    <div class="container-fluid">

        <!-- row -->
        <div class="row my-2">

            <!-- col-lg-3 -->
            <div class="col-lg-3 col-sm-12 col-12 col-md-4">
                <mysidebar></mysidebar>
            </div>
            <!-- col-lg-3 -->

            <!-- col-lg-9-->
            <div class="col-lg-9 col-sm-12 col-12 col-md-8">

                <h1 class="res-view" *ngIf="action == 'Add'">{{ language.getLabel('add')}} {{language.getLabel('equipment')}}</h1>
                <h1 class="res-view" *ngIf="action !== 'Add'">{{ language.getLabel('edit')}} {{language.getLabel('equipment')}}</h1>


                <div class="card p20 homeproducts listing">

                    <form role="form" #addEquipmentForm="ngForm" (ngSubmit)="addEquipment()">
                        <div class="addform">

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-Shape-13 prefix"></i>
                                        <label for="firstname" [ngClass]="{'active': equipments.name}">{{language.getLabel('equipment')}} {{language.getLabel('name')}}</label>
                                        <input type="text" name="name" id="firstname" maxlength="50" class="form-control " #name="ngModel" [(ngModel)]="equipments.name" required />
                                        <div class="error-block">
                                            <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_equipment_name')}}
                                            </small>
                                            <small *ngIf="name.errors?.maxlength && name.touched" class="text-danger">
                                                    {{language.getLabel('maximum_value_should_be_50')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-6">
                                    <div class="md-form has-required">
                                        <label for="nf-paymentTerms">{{language.getLabel('type')}}</label>
                                        <div class="radiobuttons_top">
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input [(ngModel)]="equipments.type" type="radio" name="type" class="" (click)="setDateForRent()" id="rent" value="rent" checked required>
                                                    <label for="rent">{{language.getLabel('rent')}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group float-left">
                                                <div class="radio_button">
                                                    <input [(ngModel)]="equipments.type" type="radio" name="type" class="" id="sell" (click)="resetTypes()" value="sell" required>
                                                    <label for="sell">{{language.getLabel('sell')}}</label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>





                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form">
                                        <div class="input-group">
                                            <!-- <ng2-datepicker [(ngModel)]="equipments.availableFrom" #availableFrom="ngModel" id="availableFrom" name="availableFrom" [options]="options"></ng2-datepicker> -->

                                            <label class="active"  for="availableFrom" >{{language.getLabel('available_from')}} (DD/MM/YYYY)</label>

                                            <input id="availableDate" class="form-control" [(ngModel)]="availableDate" name="availableDate" (ngModelChange)="setDate($event)" materialize="pickadate" [materializeParams]="[{ format: 'dd/mm/yyyy', min: minDate }]" #availableDate1="ngModel" type="date" [disabled]="equipments.type == 'sell'"
                                                required />
                                            <i class="calendaricon fa fa-calendar"></i>
                                        </div>

                                        <!--  <div class="error-block">
                                            <small *ngIf="availableDate1.errors?.required &&  availableDate1.touched"  class="text-danger">
                                                    Please fill the date.
                                            </small>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <div class="flex relative">
                                            <i class="fa fa-clock-o prefix"></i>
                                            <label for="availablePeriod" [ngClass]="{'active': equipments.availablePeriod}">{{language.getLabel('availability_period')}}</label>
                                            <input name="availablePeriod" [(ngModel)]="equipments.availablePeriod" #availablePeriod="ngModel" type="number" min="1" max="9999999999" id="availablePeriod" class="form-control" [disabled]="equipments.type == 'sell'" required>

                                            <div class="input-group-btn">
                                                <select name="availability" [(ngModel)]="equipments.availableUnit" [disabled]="equipments.type == 'sell'" required>
                                                    <option value="Hour">{{language.getLabel('hour')}}</option>
                                                    <option value="Days">{{language.getLabel('days')}}</option>
                                                    <option value="Week">{{language.getLabel('week')}}</option>
                                                    <option value="Month">{{language.getLabel('months')}}</option>
                                                    <!--<option value="Year">{{language.getLabel('years')}}</option>-->
                                            </select>
                                            </div>
                                        </div>
                                        <div class="error-block">
                                            <small *ngIf="availablePeriod.errors?.required && availablePeriod.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_the_availability_period')}}
                                            </small>
                                            <small *ngIf="availablePeriod.errors?.min && availablePeriod.touched" class="text-danger">
                                                {{language.getLabel('minimum_available_period_should_be_1')}}
                                            </small>
                                            <small *ngIf="availablePeriod.errors?.max && availablePeriod.touched" class="text-danger">
                                                {{language.getLabel('maximum_available_period_should_be_9999999999')}}
                                            </small>
                                        </div>
                                    </div>


                                </div>

                            </div>



                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-Shape-13 prefix"></i>
                                        <label></label>
                                        <select [(ngModel)]="categoryID" #category="ngModel" name="category" (change)="setVarieties()" required>
                                            <option value="" selected>{{language.getLabel('select_category')}}</option>
                                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="category.errors?.required && category.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_equipment_category')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-Shape-13 prefix"></i>
                                        <select [(ngModel)]="equipments.variety" class="" name="variety">
                                            <option value="" selected>{{language.getLabel('select_variety')}}</option>                                            
                                            <option *ngFor="let variety of varieties" [value]="variety">
                                                {{variety}}
                                            </option> 
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-Shape-13 prefix"></i>
                                        <label></label>
                                        <select [(ngModel)]="manufacturerID" #manufacturer="ngModel" class="" name="manufacturer" required>
                                            <option value="" selected>{{language.getLabel('manufacturer')}}</option>
                                            <option *ngFor="let mf of manufacturers" [value]="mf.id">
                                                {{mf.name}}
                                            </option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="manufacturer.errors?.required && manufacturer.touched" class="text-danger">
                                                    {{language.getLabel('select_manufacturer')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-Shape-13 prefix"></i>
                                        <select [(ngModel)]="equipments.modelyear" class="" name="modelyear">
                                            <option value="" selected>{{language.getLabel('model_year')}}</option>                                            
                                           <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                                        </select>
                                    </div>
                                </div>




                            </div>



                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form">
                                        <i class="fa fa-info prefix"></i>
                                        <label for="model" [ngClass]="{'active': equipments.description}">{{language.getLabel('model')}}</label>
                                        <input name="model" [(ngModel)]="equipments.model" #description="ngModel" type="text" id="model" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-6">

                                    <div class="md-form has-required">

                                        <div class="flex relative">
                                            <i class="icon-Shape-13 prefix"></i>
                                            <label for="quantity" [ngClass]="{'active': equipments.quantity}">{{language.getLabel('quantity')}}</label>
                                            <input name="quantity" [(ngModel)]="equipments.quantity" #quantity="ngModel" class="form-control" id="quantity" type="number" min="1" oninput="validity.valid||(value='');" max="9999999999" required>

                                            <!--<div class="input-group-btn">
                                                <select [(ngModel)]="equipments.quantityUnit" name="quantityUnit">
                                                <option value="Kg" selected>{{language.getLabel('kg')}}</option>
                                                <option value="Quintal">{{language.getLabel('quintal')}}</option>
                                                <option value="Tonnes">{{language.getLabel('ton')}}</option>
                                                <option value="Count">{{language.getLabel('count')}}</option>
                                                <option value="Dozen">{{language.getLabel('dozzen')}}</option>
                                             </select>
                                            </div>-->
                                        </div>
                                        <div class="error-block">
                                            <small *ngIf="quantity.errors?.required && quantity.touched" class="text-danger">
                                            {{language.getLabel('please_fill_quantity')}}
                                        </small>
                                            <small *ngIf="quantity.errors?.min && quantity.touched" class="text-danger">
                                                {{language.getLabel('minimum_value_should_be_1')}}
                                            </small>
                                        </div>
                                        <small *ngIf="quantity.errors?.max && quantity.touched" class="text-danger">
                                            {{language.getLabel('maximum_value_should_be_9999999999')}}
                                        </small>
                                    </div>
                                    <!-- .error-block -->
                                </div>



                            </div>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <div class="flex relative">
                                            <i class="fa fa-rupee prefix"></i>
                                            <label for="price" [ngClass]="{'active': equipments.price}">{{language.getLabel('price')}}</label>
                                            <input name="price" [(ngModel)]="equipments.price" #price="ngModel" type="number" id="price" min="1" oninput="validity.valid||(value='');" max="9999999999" class="form-control" required>

                                            <div class="input-group-btn" [hidden]="equipments.type == 'sell'">
                                                <select name="availability" [(ngModel)]="equipments.priceUnit" required>
                                                <option value="Hour">{{language.getLabel('hour')}}</option>
                                                <option value="Days">{{language.getLabel('days')}}</option>
                                                <option value="Week">{{language.getLabel('week')}}</option>
                                                <option value="Month">{{language.getLabel('month')}}</option>
                                                <!--<option value="Year">{{language.getLabel('years')}}</option>-->
                                            </select>
                                            </div>
                                        </div>
                                        <div class="error-block">
                                            <small *ngIf="price.errors?.required && price.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_price')}}
                                            </small>
                                            <small *ngIf="price.errors?.min && price.touched" class="text-danger">
                                                {{language.getLabel('minimum_price_should_be_1')}}
                                            </small>
                                            <small *ngIf="price.errors?.max && price.touched" class="text-danger">
                                                {{language.getLabel('maximum_price_should_be_9999999999')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-address prefix"></i>
                                        <label for="address" [ngClass]="{'active': equipments.address}">{{language.getLabel('address')}}</label>
                                        <input name="address" [(ngModel)]="equipments.address" #address="ngModel" type="text" id="address" maxlength="100" class="form-control" required>
                                        <div class="error-block">
                                            <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_address')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>





                            </div>


                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-city prefix"></i>
                                        <label for="city" [ngClass]="{'active': equipments.city}">{{language.getLabel('city_village')}}</label>
                                        <input name="city" [(ngModel)]="equipments.city" #city="ngModel" type="text" name="city" #city="ngModel" [(ngModel)]="equipments.city" id="city" maxlength="50" class="form-control" required />
                                        <div class="error-block">
                                            <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_city_village')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-state prefix"></i>
                                        <label></label>
                                        <select [(ngModel)]="equipments.state" name="state" (change)="setDistrict();equipments.district='';"  #state="ngModel" placeholder="" required>
                                            <option value="" selected>{{language.getLabel('select_state')}}</option>
                                            <option *ngFor="let state of states" [value]="state.stateName">{{state.stateName}}</option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_state')}}
                                            </small>
                                        </div>

                                    </div>
                                </div>




                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="fa fa-map-marker prefix"></i>
                                        <label></label>
                                        <select name="district" [(ngModel)]="equipments.district"  [disabled]="!equipments.state" #district="ngModel"   placeholder="" required>
                                               <option value="" selected>{{language.getLabel('select_district')}}</option>
                                                <option *ngFor="let district of districts" [value]="district.districtName">{{district.districtName}}</option>
                                        </select>
                                        <div class="error-block">
                                            <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_district')}}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="md-form has-required">
                                        <i class="icon-pincode prefix"></i>
                                        <label for="pincode" [ngClass]="{'active': equipments.pincode}">{{language.getLabel('pin_code')}}</label>

                                        <input type="text" id="pincode" name="pincode" #pincode="ngModel" [(ngModel)]="equipments.pincode" pattern="[0-9 ]*" class="form-control" maxlength="6" minlength="6" required />

                                        <div class="error-block">
                                            <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                                    {{language.getLabel('please_fill_pincode')}}
                                            </small>
                                            <small *ngIf="(pincode.errors?.pattern || pincode.errors?.minlength ) && pincode.touched" class="text-danger">
                                                    {{language.getLabel('enter_valid_pincode')}}
                                            </small>
                                            <small *ngIf="pincode.errors?.maxlength && pincode.touched" class="text-danger">
                                                    {{language.getLabel('maximum_6_digit_allow')}}
                                            </small>
                                            <!-- <small *ngIf="pincode.errors?.minlength && pincode.touched" class="text-danger">
                                                    {{language.getLabel('enter_valid_pincode')}}
                                            </small> -->
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="md-form">
                                        <i class="fa fa-info prefix"></i>
                                        <label for="description" [ngClass]="{'active': equipments.description}">{{language.getLabel('description')}}</label>
                                        <input name="description" [(ngModel)]="equipments.description" #description="ngModel" type="text" id="description" class="form-control">
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="nf-image" class="blocklabel" title="You can upload maximum 5 images">{{language.getLabel('upload_image')}} ({{language.getLabel('Max_5')}})</label>
                                        <input [disabled]="!equipments?.images || equipments?.images?.length==5 || isImageUploading" #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload (imageSelected)="uploadImage($event)"
                                            accept="image/jpg, image/jpeg, image/png" />

                                        <label for="file-7"> 
                                            <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> {{language.getLabel('upload_image')}}</strong>
                                            <span *ngIf="isImageUploading">
                                                <div class="loader-inner-small">
                                                   <div  class="loader"></div>
                                                </div>
                                            </span>                                        
                                        </label>

                                        <div class="thumbnail" *ngFor="let image of equipments.images" (click)="viewImage(_host+'/images/equipments/'+image)">
                                            <img src="{{_host}}/images/equipments/{{image}}">
                                            <i class="close fa fa-times" (click)="removeImage(image)"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <button class="btn btn-success" [disabled]="(!addEquipmentForm.valid || isImageUploading) ">{{language.getLabel('submit')}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- col-lg-9-->
        </div>
        <!-- row -->
    </div>
</main>
<!--/Main layout-->