<app-loader [isloading]="isloading"></app-loader>



<!-- small banner-->
<breadcrumb [id]="'banner-equipment'" [class]="''" [page]="'my_equipments'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main>
    <div class="container-fluid">
        <!-- row -->
        <div class="row my-2">

            <!-- col-lg-3 -->
            <div class="col-lg-3 col-sm-12 col-12 col-md-4">
                <mysidebar></mysidebar>
            </div>
            <!-- col-lg-3 -->

            <!-- col-lg-9-->
            <div class="col-lg-9 col-sm-12 col-12 col-md-8">

                <h1 class="res-view redishtext">{{language.getLabel('my_equipments')}}</h1>

                <div class="row">

                    <div class="col-md-6 col-6">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#active" role="tab">{{language.getLabel('active')}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#expired" role="tab">{{language.getLabel('expired')}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-6 text-right">
                        <button class="btn btn-border-warning custombtnredish waves-effect waves-light" [routerLink]="['/equipments/add']">{{language.getLabel('add_equipment')}}</button>
                    </div>

                </div>


                <div class="card equipment-listing pb-70">

                    <!-- Tab panels -->
                    <div class="tab-content">

                        <!-- tab active -->
                        <div class="tab-pane active" id="active" role="tabpanel">
                            <p class="nodisplay" *ngIf="totalequipments == 0">{{language.getLabel('no_equipment_to_display')}}.</p>
                            <!-- 1-->
                            <div class="row border-bottom" *ngFor="let equipment of equipments">
                                <div class="col-md-3 col-sm-3 col-lg-2">
                                    <div class="imageblock" [routerLink]="['/equipments/detail/'+equipment.id]">
                                        <thumbnail [id]="equipment.id" [item]="equipment" [page]="'equipments'"></thumbnail>      
                                    </div>
                                </div>

                                <div class="col-md-9 col-sm-9 col-lg-10">

                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-lg-8">
                                            <h2><a [routerLink]="['/equipments/detail/'+equipment.id]">{{equipment?.name}}</a></h2>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-lg-4 text-right">
                                            <h3>{{equipment?.price | currency:'INR':true}}</h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-lg-8">
                                            <span class="bold">
                                            <a [routerLink]="['/equipments/detail/'+equipment.id]">{{equipment?.category?.name}} {{equipment?.variety != '' ? (bracketStart + equipment?.variety + bracketEnd) : '' }}</a>                                          
                                          </span>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-lg-4 text-right">
                                            <h4><strong>{{language.getLabel('quantity')}}:</strong> {{equipment?.quantity}} {{equipment?.quantityUnit}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-lg-8">
                                            <span class="bold">                                            
                                            <a [routerLink]="['/equipments/detail/'+equipment.id]">{{equipment?.manufacturer?.name}}</a>
                                          </span>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-lg-4 text-right">

                                            <h4><strong>{{language.getLabel('type')}}:</strong> {{equipment?.type | capitalize }}</h4>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-lg-8">
                                            <p><a [routerLink]="['/equipments/detail/'+equipment.id]">{{equipment?.description | truncate : 120 : "…"}}</a></p>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-lg-4 text-right">
                                            <div class="buttons">
                                                <button class="btn btn-success" title="Edit" (click)="editEquipment(equipment.id)" title="{{language.getLabel('edit')}}"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-danger" title="Delete" (click)="removeEquipment(equipment.id)" title="{{language.getLabel('delete')}}"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- 1-->


                        </div>
                        <!-- tab active -->

                        <!-- tab expired-->
                        <div class="tab-pane" id="expired" role="tabpanel">
                            <p class="nodisplay">{{language.getLabel('no_equipment_to_display')}}.</p>
                        </div>
                        <!-- tab expired-->

                    </div>
                    <!-- Tab panels -->

                </div>

            </div>
            <!-- col-lg-9-->

        </div>
        <!-- row -->
    </div>

</main>
<!--Main layout-->