<app-loader [isloading]="isloading"></app-loader>
<!-- <app-header [isloading]="isloading"></app-header> -->
<!-- small banner-->
<breadcrumb [id]="'banner-crop'" [class]="''" [page]="'login'"></breadcrumb>
<!-- small banner-->

<!--Main layout-->
<main>
    <div class="container-fluid">

        <!-- loginbox-->
        <div class="loginbox my-2">

            <!--Form without header-->

            <div class="text-center">
                <h2>{{language.getLabel('reset_your_password')}}</h2>
            </div>

            <div class="card">

                <!--Header-->

                <div class="card-block" [hidden]="isSubmitted">
                    
                    <form  role="form" #loginForm="ngForm" (ngSubmit)="submit()">
                        <!--Body-->
                          <label [ngClass]="{'active': hasUser}">{{language.getLabel('enter_your_email')}}</label>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <label for="form2" [ngClass]="{'active': hasUser}">{{language.getLabel('Email')}}</label>
                            <input type="email" name="emailID" #emailIDX="ngModel" [(ngModel)]="emailID" id="form2" class="form-control" email required />

                            <div class="error-block">
                                <small *ngIf="emailIDX.errors?.required && emailIDX.dirty" class="text-danger">
                                    {{language.getLabel('email_is_required')}}
                                </small>
                                <small *ngIf="emailIDX.errors?.email && emailIDX.dirty" class="text-danger">
                                    {{language.getLabel('email_is_not_valid')}}
                                </small>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success signin" [disabled]="!loginForm.valid">{{language.getLabel('send')}}</button>
                            </div>
                        </div>

                    </form>
                </div>
                 <div class="card-block" *ngIf="isSubmitted">
                 <p>{{language.getLabel('check_your_email_to_reset_your_password')}}</p>
                 </div>


            </div>

        </div>
        <!-- loginbox-->

    </div>
</main>
<!--/Main layout-->

<!-- <app-footer></app-footer> -->