
<section id="about-we-do" style="margin-top: 108px;">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-12" >
							<div class="about-img">
								<img src="assets/img/cover.jpg" alt="aboutus"  style="width: 100%;">
							</div><!-- /.about-img -->
							<div class="about-img">
								<img src="assets/img/logo.jpg" alt="aboutus" class="img-thumbnail" style="height: 207px;margin-top: -136px;" >
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="about-content">
								<h1>What We Do</h1>
								<p><strong>Aim of FITNESSS 24</strong>, is to encourage a positive and healthy lifestyle for Physical, Mental and Emotional health of peoples.If you’re seeking motivation to keep up your daily yoga practice, FITNESSS 24 gives you several of reasons to get you back on your yoga mat every day.
								Pick a suitable class and center for your level and approach it with an open mind-you’ll feel different, more open present and happier.
								These techniques are the demand of today’s life. We have to know about it and it’s our responsibility to spread knowledge of it. If we follow our ancient technology we can fight with these new diseases and create a healthy, fit world.</p>
								<p>Further we are going to setup a venture which will work in different places to reach more peoples easily, so that each and every person can take advantage of this concept.</p>
							</div><!-- /.about-content -->
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>




