
<section id="about-we-do" style="margin-top: 108px;">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-12" >
							
							<!-- <div class="about-img">
								<img src="assets/img/logo.jpg" alt="aboutus" class="img-thumbnail" style="height: 150px;margin-top: 30px;max-width: 100%" >
							</div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="about-content">
								<h1><span style="color: black">Welcome<br/></span>  <span style="color: #43aea8;font-size: larger;">{{ (userData?.username) ? (userData?.username | truncate : 13 : "…"): (userData?.username | truncate : 13 : "…")}}</span></h1>
								<p><strong>FITNESSS 24</strong></p>
								<section id="classby">
			<div class="section-padding">
			
				<div class="container">
					
						<!-- related post  -->
						<div class="related-post comment-area class-grid">
							<h3>Your Centers</h3>
							<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3" >
								<div class="f-product-box">
									<div class="box-img">
										
										<img class="card-img-top img-fluid" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg" alt="">
										<div class="overlay"></div><!-- /.overlay -->
										
									</div><!-- /.box-img -->
									
									<div class="fp-info">
										<h4><a href="#"></a></h4>

										<div class="price-rating">
											<div class="product-price">
												<span></span>
												<span>xzc</span>
											</div><!-- /.product-price -->
											
										</div><!-- /.price-rating -->
									</div><!-- /.image-des -->
								</div><!-- /.image-box -->
							</div><!-- /.col-sm-3 col-md-3 -->

							

					

							
						</div><!-- end tabpanel -->

							
						</div>
					
				</div><!-- /.container -->
				
			</div><!-- /.section-padding -->
		</section>
							</div><!-- /.about-content -->
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>




