 <!-- 1 -->
<select class="sorting">
	<option value="" disabled selected>{{language.getLabel('sort_by')}}</option>
	<option value="1">{{language.getLabel('price')}}, {{language.getLabel('low_to_high')}}</option>
	<option value="2">{{language.getLabel('price')}}, {{language.getLabel('high_to_low')}}</option>
	<option value="3">{{language.getLabel('name')}}, {{language.getLabel('a-z')}}</option>
	<option value="3">{{language.getLabel('name')}}, {{language.getLabel('z-a')}}</option>
	<option value="3">{{language.getLabel('date')}}, {{language.getLabel('new_to_old')}}</option>
	<option value="3">{{language.getLabel('date')}}, {{language.getLabel('old_to_new')}}</option>
	<option value="3">{{language.getLabel('best_selling')}}</option>
</select>
<!-- 1 -->