<app-loader [isloading]="isloading"></app-loader>

<!-- small banner-->
<breadcrumb [id]="'banner'" [class]="''" [page]="'cart'"></breadcrumb>
<!-- small banner-->



<!--Main layout-->
<main>
    <div class="container-fluid">

        <!-- cart-->
        <div class="mycart my-2">

            <div class="card">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2" width="35%">#</th>
                            <th width="25%">{{language.getLabel('product_name')}}</th>
                            <th width="15%">{{language.getLabel('book_or_buy')}} <br/>{{language.getLabel('date_time')}}</th>
                            <th width="15%">{{language.getLabel('quantity')}}</th>
                            <th width="15%">{{language.getLabel('price')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cart of singleCart">
                            <td width="8%" colspan="1" data-label="Product Name">

                                <a href="#"><img alt="" class="card-img-top img-fluid" src="http://52.39.212.226:4071/images/crops/d3f66b38-c259-4142-8745-4377633af5aa-1499086742879.jpeg"></a>
                            </td>
                            <td colspan="1">
                                <a href="#">
                                    <h1>{{cart?.name}}</h1>
                                </a>Buy</td>
                            <td data-label="Book or Buy Date/Time">Dec 12,2016 , 2:30 PM</td>
                            <td data-label="Quantity">{{cart?.quantity}} {{cart?.quantityUnit}}</td>
                            <td data-label="Price"><i class="fa fa-rupee"></i> {{cart?.price ? cart?.price : cart?.rate}}</td>
                            <td data-label="Actions">
                                <ul>
                                    <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o greentext"></i></a></li>
                                    <li><a  (click)="removeEquipment(cartId)" title="{{language.getLabel('delete')}}" title="Delete"><i class="fa fa-close redtext"></i></a></li>
                                </ul>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
        <!-- cart-->


    </div>
</main>
<!--/Main layout-->